<?xml version="1.0" encoding="utf-8"?>
<!--
// Pandora FMS - http://pandorafms.com
// ==================================================
// Copyright (c) 2005-2011 Artica Soluciones Tecnologicas
// Please see http://pandorafms.org for full contribution list

// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU Lesser General Public License
// as published by the Free Software Foundation; version 2

// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details. 
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="pandroid_event_viewer.pandorafms"
      android:versionCode="2"
      android:versionName="1.1">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

	<!--
	android:configChanges="orientation|keyboardHidden"
	
	This is crazy, I want only block the screen rotation, but the android need
	two things.
	-->

    <application android:icon="@drawable/pandorafms_logo"
    	android:label="Pandroid Event viewer"
    	android:description="@string/pandroid_event_viewer_description_str"
    >
        <activity
        	android:name=".PandroidEventviewerActivity"
			android:label="Pandroid Event viewer"
			android:theme="@android:style/Theme.NoTitleBar"
			android:configChanges="orientation|keyboardHidden"
		>
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        	android:name=".Main"
        	android:configChanges="orientation|keyboardHidden"
        >
        </activity>
        <activity
        	android:name=".EventList"
        	android:configChanges="orientation|keyboardHidden"
        >
        </activity>
        <activity
        	android:name=".Options"
        	android:label="@string/option_title_str"
        	android:configChanges="orientation|keyboardHidden"
        >
        </activity>
		<activity
        	android:name=".About"
        	android:label="@string/pandroid_event_viewer_str"
        	android:configChanges="orientation|keyboardHidden"
        	android:theme="@android:style/Theme.Dialog"
        >
        </activity>
        <activity
        	android:name=".PopupValidationEvent"
        	android:label="@string/validate_event_button_str"
        	android:theme="@android:style/Theme.Dialog"
        	android:configChanges="orientation|keyboardHidden"
        >
        </activity>
		<activity
        	android:name=".Info"
        	android:label="@string/pandroid_event_viewer_str"
        	android:configChanges="orientation|keyboardHidden"
        	android:theme="@android:style/Theme.Dialog"
        >
        </activity>
        
        <service android:name=".PandroidEventviewerService"></service>
        
        <receiver android:process=":remote" android:name=".AlarmReceiver"></receiver>
    </application>
</manifest>