<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.pandorafms.pandorafms</string>
        <key>ProgramArguments</key>
        <array>
                <string>/usr/bin/pandora_agent</string>
                <string>/etc/pandora</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>ServiceDescription</key>
        <string>PandoraFMS agent</string>
        <key>UserName</key>
        <string>root</string>
</dict>
</plist>
