.um-box,
.um-box * {
  box-sizing: border-box;
}
.um-box {
  border: 1px solid gray;
  width: 90%;
  height: 90%;
  margin: 5% auto;
  padding: 2em;
}
a.update_manager_button {
  padding: 10px 12px;
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
}

a.update_manager_button:after {
  content: url(../images/update_manager_button.png);
  padding-left: 10px;
}

.progressbar {
  margin-top: 15px;
}

#log_zone {
  background-color: #e6e6e6;
  border: 20px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  color: #707070;
  font-size: 12px;
  margin-bottom: 30px;
  padding: 10px;
  text-align: left;
}

#box_online {
  padding: 40px 50px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  justify-content: space-around;
  align-items: center;
}

#box_online .wu-bg {
  position: relative;
  width: 500px;
  height: 450px;
  background-image: url("../images/Warp-Update-bg.png");
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  margin: 0px !important;
  display: flex;
  align-items: center;
}
#box_online .wu-gear {
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  width: 202px;
  margin: auto;
  animation-name: ani;
}
@keyframes ani {
  to {
    transform: rotateZ(360deg);
  }
}

#box_online .wu-box {
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  width: 69px;
  left: 215px;
  z-index: 2;
  position: absolute;
  animation-name: ani2;
}
@keyframes ani2 {
  0% {
    opacity: 0;
    transform: translateY(-250px) translateX(0px);
  }
  60% {
    opacity: 1;
    transform: translateY(0px) translateX(0px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#box_online #pkg_version {
  color: #82b92e;
  font-size: 6em;
  font-weight: bold;
  margin: 50px 0 !important;
}

.update_manager_warning p {
  font-size: 10pt;
}
#update-list {
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: max-height 0.15s ease-in-out;
}
.update_popup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.update_icon {
  padding-left: 20px;
}

.update_text h3 {
  font-weight: bold;
  font-size: 12pt;
}

.update_text p {
  font-size: 11pt;
}

.update_text a {
  font-size: 11pt;
  color: #82b92e;
}

.update {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#drop_file {
  background-color: #e6e6e6;
  border: 20px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  color: #707070;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 40px 50px;
  text-align: center;
  text-transform: uppercase;
}

#drop_file table {
  vertical-align: middle;
}

#drop_file table td,
#drop_file table label {
  color: #707070;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
  vertical-align: middle;
}

#drop_file table select {
  float: none;
}

#drop_file a {
  background-color: #82b92e;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  padding: 12px 26px;
}

#drop_file a:hover {
  background-color: #a6ce67;
  text-decoration: none;
}

#drop_file input {
  display: none;
}

/* Offline form */
.fileupload_form {
  background-color: #373a3d;
  background-image: -moz-linear-gradient(center, #373a3d, #313437);
  border-radius: 3px;
  margin: 0px;
  padding: 30px;
}

.fileupload_form ul {
  border-bottom: 1px solid #3d4043;
  border-top: 1px solid #2b2e31;
  list-style: none outside none;
  margin: 0 -30px;
  padding: 0;
}

.fileupload_form ul li {
  background-color: #333639;
  background-image: -moz-linear-gradient(center, #333639, #303335);
  border-bottom: 1px solid #2b2e31;
  border-top: 1px solid #3d4043;
  padding: 15px;
  position: relative;
}

.fileupload_form ul li #input-progress {
  left: 68px;
  position: absolute;
}

.fileupload_form ul li p {
  color: #eeeeee;
  font-size: 12px;
  font-weight: bold;
  left: 95px;
  overflow: hidden;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.fileupload_form ul li i {
  color: #7f7f7f;
  display: block;
  font-style: normal;
  font-weight: normal;
}

.fileupload_form ul li canvas {
  left: 13px;
  position: absolute;
  top: 15px;
}

.fileupload_form ul li span {
  background: url("../images/check-cross.png") no-repeat scroll 0 0
    rgba(0, 0, 0, 0);
  cursor: pointer;
  height: 12px;
  position: absolute;
  right: 13px;
  top: 34px;
  width: 15px;
}

.fileupload_form ul li div {
  display: block !important;
}

.fileupload_form ul li.working span {
  background-position: 0 -12px;
  height: 16px;
}

.fileupload_form ul li.loading span {
  background: url("../images/spinner.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 16px;
}

.fileupload_form ul li.suc span {
  background: url("../images/check-cross.png") no-repeat scroll 0 0
    rgba(0, 0, 0, 0);
  height: 12px;
}

.fileupload_form ul li.suc p {
  color: #5a8629;
}

.fileupload_form ul li.error span {
  background: url("../images/check-cross.png") no-repeat scroll 0 -12px rgba(0, 0, 0, 0);
  height: 16px;
}

.fileupload_form ul li.error p {
  top: 18px;
  color: #ff3333;
}
#um-loading {
  background-image: url(../images/spinner.gif);
  height: 1em;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 4.5em;
}

#um-buttons {
  margin-top: 2em;
}

#um-buttons button {
  padding: 10px;
  cursor: pointer;
  width: 285px;
  margin: 20px;
}

.ui-widget.ui-widget-content {
  border: none;
}
#um-update-details {
  display: none;
  background: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
}

#um-update-details * {
  font-size: 10pt;
}

#um-update-details-header {
  color: #fff;
  background-color: #343434;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  height: 1.8em;
  text-align: center;
  display: block;
  padding-top: 5.3em;
  width: 100%;
}
#um-update-details-content {
  padding: 2em;
}

#um-progress {
  width: 100%;
  min-width: 450px;
  box-sizing: border-box;
  padding: 2em 3em;
  display: none;
}

.um-progress-bar-container {
  box-sizing: border-box;
  padding: 0;
  height: 1.4em;
  width: 90%;
  border: 1px solid #ddd;
  text-align: center;
}

#um-progress .um-progress-bar-container span {
  font-size: 0.8em;
  line-height: 1.5em;
  font-weight: bolder;
  color: #343434;
  position: absolute;
}

.um-progress-bar {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  width: 0%;
  background-color: #1f282b;
}

div#box_online * {
  font-size: 14pt;
}

#box_online .content {
  max-width: 50%;
}
#box_offline form {
  background-color: #373a3d;
  background-image: -moz-linear-gradient(top, #373a3d, #313437);
  border-radius: 3px;
  margin: 0px;
  padding: 30px;
}

#box_offline form div#upload {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  background-color: #e6e6e6;
  border: 20px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  color: #707070;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 40px 50px;
  text-align: center;
  text-transform: uppercase;
}

div#upload span.browse {
  background-color: #82b92e;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  padding: 12px 26px;
}

.dz-upload {
  display: block;
  background-color: red;
  height: 10px;
  width: 0%;
}

.dz-success-mark,
.dz-error-mark {
  display: none;
}

span.warning {
  min-width: 10em;
  min-height: 10em;
  background: url(../images/icono_warning.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  margin: 0em 1em 0em 0em;
}

.ui-dialog-content.ui-widget-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.ui-dialog-content.ui-widget-content p {
  font-size: 10pt;
  word-break: keep-all;
  text-align: justify;
}

.license_text {
  text-align: left;
}

.license_text input {
  width: 290px;
  font-size: 11pt;
}

.license_text a {
  font-size: 11pt;
  color: #82b92e;
}

input.error {
  border: 1px solid #ff3333;
}

textarea#signature {
  margin-top: 1em;
}
a.update_manager_button_open:hover {
  color: #fff;
  background-color: #82b92e;
}

#um-update-details-header {
  background-image: url(../images/pandora_logo.png);
  font-size: 16pt;
}

.um-progress-bar {
  background-color: #8bb92e !important;
}

.um-error {
  color: #e63c52;
}

.um-success {
  color: #8bb92e;
}

.dz-success-mark svg {
  background: #8bb92e;
  border-radius: 50%;
}

.newsletter_div {
  margin: 5px 20px;
  float: left;
  padding-top: 23px;
}

.register_update_manager {
  margin: 5px 0 10px;
  float: left;
  padding-left: 15px;
}

/* METACONSOLE */
.box_online_meta {
  background: none;
  min-height: 400px;
  text-align: center;
  border: none;
}

div#box_online.box_online_meta * {
  font-size: 14pt;
}

#box_online.box_online_meta .content {
  max-width: 100%;
}

#box_online.box_online_meta #pkg_version {
  font-size: 60pt;
}

/* COMMUNITY */
.update_manager_open {
  max-width: 50%;
  font-size: 10pt;
  margin-top: 40px;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

.update_manager_warning {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.update_manager_warning img {
  padding-right: 20px;
  width: 90px;
}

a.update_manager_button_open {
  padding: 5px 10px;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #82b92e;
  color: #82b92e;
  border-radius: 2px;
}

#um-updates {
  width: 300px;
}

#next-version:hover {
  font-weight: bolder;
}
