[Unit]
Description=php webSocket
After=syslog.target network.target

[Service]
User=apache

Type=simple
ExecStart=php /var/www/html/pandora_console/ws.php >> /var/log/pandora/web_socket.log 2>&1
TimeoutStopSec=20
KillMode=process
Restart=always
RestartSec=2
StandardOutput=file:/var/log/pandora/web_socket.log
StandardError=file:/var/log/pandora/web_socket.log

[Install]
WantedBy=multi-user.target
Alias=websocket.service