#visual-console-container {
  margin: 0px auto;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.visual-console-item {
  position: absolute;
  display: flex;
  flex-direction: initial;
  justify-items: center;
  align-items: center;
  user-select: text;
  z-index: 1;
}

.visual-console-item.is-on-top {
  z-index: 2;
}

.visual-console-item.is-editing {
  border: 2px dashed #b2b2b2;
  transform: translateX(-2px) translateY(-2px);
  cursor: move;
  user-select: none;
}

.visual-console-item.is-editing.is-selected {
  border: 2px dashed #2b2b2b;
}
.visual-console-item.is-editing > .resize-draggable {
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15px;
  height: 15px;
  background: url(./resize-handle.svg);
  cursor: se-resize;
}

.visual-console-item.is-editing :first-child {
  pointer-events: none;
}

@keyframes spinner-loading {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.visual-console-spinner {
  background-color: transparent;
  margin: 0px auto;
  border-top: 5px solid rgb(82, 85, 87);
  border-right: 5px solid rgb(82, 85, 87);
  border-bottom: 5px solid rgb(82, 85, 87);
  border-left: 5px solid rgba(82, 85, 87, 0.2);

  animation-name: spinner-loading;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.visual-console-spinner,
.visual-console-spinner :after {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.visual-console-spinner.small,
.visual-console-spinner.small :after {
  width: 12px;
  height: 12px;
}

.div-visual-console-spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  opacity: 0.7;
  background: rgb(212, 215, 218);
}

.show-elements {
  display: inline-block;
}

.hide-elements {
  display: none;
}

/*Forms*/
.div-input-group label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12pt;
  font-family: "lato-bolder", "Open Sans", sans-serif;
  font-weight: 600;
  color: #343434;
  margin-right: 10px;
}
.div-input-group label img {
  margin-left: 4px;
}

.div-input-group input[type="text"],
.div-input-group input[type="number"] {
  height: 25px;
  font-size: 10pt;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  font-family: "lato-bolder", "Open Sans", sans-serif;
  font-weight: lighter;
  padding: 0px 0px 2px 0px;
  box-sizing: border-box;
  margin-right: 10px;
}

.div-input-group input[type="radio"] {
  margin-right: 10px;
  width: 17px;
  height: 17px;
}

.div-input-group select {
  font-family: "lato-bolder", "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 10pt;
}

.input-groups {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.input-group {
  width: 100%;
  margin-bottom: 25px;
  padding-left: 20px;
}

.div-ranges-input-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
}

.div-ranges-input-group > div {
  padding-left: 20px;
  margin-top: 10px;
}

.div-input-group,
.div-input-group div div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.div-input-group h3 {
  text-transform: initial;
  font-family: "lato-bolder", "Open Sans", sans-serif;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  margin: 0 auto;
}

.div-input-group div div a {
  margin-left: 10px;
}

.div-input-group-autocomplete-agent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  height: 70px;
}

.div-input-group-inside {
  padding-left: 20px;
}

.input-group-link-console {
  height: 70px;
}

.show-elements > div.div-input-group-autocomplete-agent {
  margin-left: 20px;
}

.img-vc-elements {
  margin-left: 10px;
}
