/* global */
#cluetip-close img {
  border: 0;
}

#cluetip-title {
  overflow: hidden;
}

#cluetip-title #cluetip-close {
  float: right;
  position: relative;
}

#cluetip-waitimage {
  width: 43px;
  height: 11px;
  position: absolute;
  background-image: url(../../../images/wait.gif);
}

.cluetip-arrows {
  display: none;
  position: absolute;
  top: 0;
  left: -11px;
  height: 22px;
  width: 11px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

#cluetip-extra {
  display: none;
}

/***************************************
 =cluetipClass: 'default' 
-------------------------------------- */

.cluetip-default {
  background-color: #fff;
  text-align: left;
}

.cluetip-default #cluetip-outer {
  position: relative;
  margin: 0;
  background-color: #fff;
}

.cluetip-default h3 {
  margin: 0 0 5px;
  padding: 8px 10px 4px;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #b1b1b1;
  color: #fff;
}

.cluetip-default h3#cluetip-title {
  display: none;
  height: 0px;
  margin: 0;
  padding: 0;
  color: #fff;
}

.cluetip-default #cluetip-title a {
  color: #fff;
  font-size: 0.95em;
}

.cluetip-default #cluetip-inner {
  padding: 10px;
}

.cluetip-default div#cluetip-close {
  text-align: right;
  margin: 0 5px 5px;
  color: #900;
}

.cluetip-default ul {
  text-align: left;
}

/* default arrows */

.clue-right-default .cluetip-arrows {
  background-image: url(../../../images/darrowleft.png);
}

.clue-left-default .cluetip-arrows {
  background-image: url(../../../images/darrowright.png);
  left: 100%;
  margin-right: -11px;
}

.clue-top-default .cluetip-arrows {
  background-image: url(../../../images/darrowdown.png);
  top: 100%;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;
}

.clue-bottom-default .cluetip-arrows {
  background-image: url(../../../images/darrowup.png);
  top: -11px;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;
}
