#ColorPickerDiv {
  display: block;
  display: none;
  position: relative;
  border: 1px solid #777;
  background: #fff;
}

#ColorPickerDiv td.color {
  cursor: pointer;
  font-size: xx-small;
}
#ColorPickerDiv td.color label {
  cursor: pointer;
}
/*
.ColorPickerDivSample {
  margin: 0px 0px 0px 4px;
  border: solid 1px #000;
  padding: 0px 10px;
  position: relative;
  cursor: pointer;
}
*/
