#chartLegend {
  width: 100%;
  position: relative;
  height: 30px;
}

#chartLegend table {
  position: absolute;
  right: 0px;
}

#graph_container {
  width: 800px;
  margin: 20px auto;
  border-radius: 3px;
}
