1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Artica ST"
      VALUE "FileDescription", "Pandora FMS Agent for Windows Platform"
      VALUE "LegalCopyright", "Artica ST"
      VALUE "OriginalFilename", "PandoraAgent.exe"
      VALUE "ProductName", "Pandora FMS Windows Agent"
      VALUE "ProductVersion", "(4.1(Build 131114))"
      VALUE "FileVersion", "1.0.0.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

