* {
	text-decoration: none !important;
}

body {
	background-color: white;
	border-style: none;
	direction: ltr;
	display: block;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	margin: 0;
	text-align: left;
	vertical-align: top;
}




/*INIT----------Groups styles-----------------------------------------*/
.group_view tr {
	border-bottom: 3px solid white !important;
}

tr.group_view_crit, .group_view_crit {
	background-color: #FA3030;
	color: #000000 !important;
}

.group_view_crit * {
	color: #000000 !important;
}

tr.group_view_norm, .group_view_norm {
	background-color: #FFFFFF;
	color: #000000 !important;
}
.group_view_norm * {
	color: #000000 !important;
}

tr.group_view_ok, .group_view_ok {
	background-color: #00C000;
	color: #000000 !important;
}
.group_view_ok * {
	color: #000000 !important;
}

tr.group_view_warn, .group_view_warn, tr.group_view_warn.a, a.group_view_warn, tr.a.group_view_warn {
	background-color: #F5E535;
}
a.group_view_warn {
	color: #000000 !important;
}

tr.group_view_alrm, .group_view_alrm {
	background-color: #ED8701;
}
.group_view_alrm * {
	color: #000000 !important;
}

tr.group_view_unk, .group_view_unk {
	background-color: #C4C4C4;
}
.group_view_unk * {
	color: #000000 !important;
}

tr.group_view_data, .group_view_data {
	color: #000000 !important;
}
.group_view_data_unk {
	color: #303030 !important;
}
.group_view_data_ok {
	color: #00C000 !important;
}
.group_view_data_crit {
	color: #5C0000 !important;
}
.group_view_data_alrm {
	color: #5C1D00 !important;
}
.group_view_data_warn {
	color: #5C5900 !important;
}
/*END-----------Groups styles-----------------------------------------*/



/*INIT----------Events styles-----------------------------------------*/
.datos_green, .datos_greenf9, .datos_green a, .datos_greenf9 a {
    background-color: #52A000;
    color: #FFFFFF;
}
.datos_red, .datos_redf9, .datos_red a, .datos_redf9 a {
    background-color: #FF3E41;
    color: #FFFFFF !important;
}
.datos_yellow, .datos_yellowf9 {
    background-color: #F5E535;
    color: #000000;
}
a.datos_blue, .datos_bluef9, .datos_blue {
    background-color: #77E2F2;
    color: #000000;
}
.datos_grey, .datos_greyf9 {
    background-color: #E4E4E4;
}
.datos_pink, .datos_pinkf9 {
    background-color: #FF92E9;
}
.datos_brown, .datos_brownf9 {
    background-color: #C97A4A;
}

tr.events {
	border-bottom: 3px solid white !important;
}
/*END-----------Events styles-----------------------------------------*/



/*INIT---------Fix the square border in search input------------------*/
.ui-input-search {
	border-radius: 0.6em 0.6em 0.6em 0.6em !important;
}

.ui-select {
	width: 100% !important;
}
/*END----------Fix the square border in search input------------------*/

/*INIT---------Fix to avoid clicks under loading message--------------*/
.ui-loader-background {
    width:100% !important;
    height:100% !important;
    top:0 !important;
    margin: 0 !important;
    background: rgba(0, 0, 0, 0.3) !important;
    display:none !important;
    position: fixed !important;
    z-index:100 !important;
}

.ui-loading .ui-loader-background {
    display:block !important;
}
/*END----------Fix to avoid clicks under loading message--------------*/