* {
	text-decoration: none !important;
}

body {
	background-color: white;
	border-style: none;
	direction: ltr;
	display: block;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px !important;
	margin: 0;
	text-align: left;
	vertical-align: top;
}

.small {
	font-size: 10px !important;
}

.ui-header .ui-title {
	font-size: 14px !important;
}

label, input, .ui-btn-inner {
	font-size: 12px !important;
}



/*INIT----------Tactical styles-----------------------------------------*/
#tactical * {
	font-size: 14px !important;
}

#tactical a {
	font-size: 25px !important;
}
/*END-----------Tactical styles-----------------------------------------*/



/*INIT----------Groups styles-----------------------------------------*/
.group_view tr {
	border-bottom: 3px solid white !important;
}



tr.group_view_crit, .group_view_crit {
	background-color: #FA3030;
	color: #000000 !important;
}
.group_view_crit * {
	color: #000000 !important;
}
.ui-btn-up-group_view_crit {
	background: linear-gradient(#D50505, #FA3030) repeat scroll 0 0 #FA3030;
	background: -webkit-gradient(linear, left top, left bottom, from(#D50505), to(#FA3030));
	border: 1px solid #111111;
	color: #000000;
	font-weight: bold;
	text-shadow: none;
}
.ui-btn-hover-group_view_crit {
	background: linear-gradient(#C41616, #E94141) repeat scroll 0 0 #E94141;
	background: -webkit-gradient(linear, left top, left bottom, from(#C41616), to(#E94141));
	border: 1px solid #111111;
	color: #000000;
	font-weight: bold;
	text-shadow: none;
}



.group_view_normal, .group_view_normal *,
.group_view_norm, .group_view_norm * {
	background-color: #FFFFFF;
	color: #000000 !important;
}
.group_view_norm * {
	color: #000000 !important;
}
.ui-btn-up-group_view_normal,
.ui-btn-up-group_view_norm {
	background: linear-gradient(#D7D7D7, #FFFFFF) repeat scroll 0 0 #FFFFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#D7D7D7), to(#FFFFFF));
	border: 1px solid #111111;
	color: #000000;
	font-weight: bold;
	text-shadow: none;
}
.ui-btn-hover-group_view_normal,
.ui-btn-hover-group_view_normal {
	background: linear-gradient(#D7D7D7, #FFFFFF) repeat scroll 0 0 #FFFFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#D7D7D7), to(#FFFFFF));
	border: 1px solid #111111;
	color: #000000;
	font-weight: bold;
	text-shadow: none;
}



.group_view_ok, .group_view_ok * {
	background-color: #00C000;
	color: #000000 !important;
}
.group_view_ok * {
	color: #000000 !important;
}
.ui-btn-up-group_view_ok {
	background: linear-gradient(#007000, #00C000) repeat scroll 0 0 #00C000;
	background: -webkit-gradient(linear, left top, left bottom, from(#007000), to(#00C000));
	border: 1px solid #111111;
	color: #000000;
	font-weight: bold;
	text-shadow: none;
}
.ui-btn-hover-group_view_ok {
	background: linear-gradient(#096709, #0FB10F) repeat scroll 0 0 #0FB10F;
	background: -webkit-gradient(linear, left top, left bottom, from(#096709), to(#0FB10F));
	border: 1px solid #111111;
	color: #000000;
	font-weight: bold;
	text-shadow: none;
}



tr.group_view_warn, .group_view_warn, tr.group_view_warn.a, a.group_view_warn, tr.a.group_view_warn {
	background-color: #F5E535;
}
a.group_view_warn {
	color: #000000 !important;
}
.ui-btn-up-group_view_warn {
	background: linear-gradient(#D0BF0A, #F5E535) repeat scroll 0 0 #F5E535;
	background: -webkit-gradient(linear, left top, left bottom, from(#D0BF0A), to(#F5E535));
	border: 1px solid #111111;
	color: #000000;
	font-weight: bold;
	text-shadow: none;
}
.ui-btn-hover-group_view_warn {
	background: linear-gradient(#BFB11B, #E4D746) repeat scroll 0 0 #E4D746;
	background: -webkit-gradient(linear, left top, left bottom, from(#BFB11B), to(#E4D746));
	border: 1px solid #111111;
	color: #000000;
	font-weight: bold;
	text-shadow: none;
}



tr.group_view_alrm, .group_view_alrm {
	background-color: #ED8701;
}
.group_view_alrm * {
	color: #000000 !important;
}
.ui-btn-up-group_view_alrm {
	background: linear-gradient(#9D5A01, #ED8701) repeat scroll 0 0 #ED8701;
	background: -webkit-gradient(linear, left top, left bottom, from(#9D5A01), to(#ED8701));
	border: 1px solid #111111;
	color: #000000;
	font-weight: bold;
	text-shadow: none;
}
.ui-btn-hover-group_view_alrm {
	background: linear-gradient(#91580D, #DA8414) repeat scroll 0 0 #DA8414;
	background: -webkit-gradient(linear, left top, left bottom, from(#91580D), to(#DA8414));
	border: 1px solid #111111;
	color: #000000;
	font-weight: bold;
	text-shadow: none;
}



tr.group_view_unk, .group_view_unk {
	background-color: #C4C4C4;
}
.group_view_unk * {
	color: #000000 !important;
}
.ui-btn-up-group_view_unk {
	background: linear-gradient(#9C9C9C, #C4C4C4) repeat scroll 0 0 #C4C4C4;
	background: -webkit-gradient(linear, left top, left bottom, from(#9C9C9C), to(#C4C4C4));
	border: 1px solid #111111;
	color: #000000;
	font-weight: bold;
	text-shadow: none;
}
.ui-btn-hover-group_view_unk {
	background: linear-gradient(#888888, #B0B0B0) repeat scroll 0 0 #ECECEC;
	background: -webkit-gradient(linear, left top, left bottom, from(#888888), to(#B0B0B0));
	border: 1px solid #111111;
	color: #000000;
	font-weight: bold;
	text-shadow: none;
}



tr.group_view_data, .group_view_data {
	color: #000000 !important;
}
.group_view_data_unk * {
	color: #303030 !important;
}
.group_view_data_ok * {
	color: #00C000 !important;
}
.group_view_data_crit * {
	color: #5C0000 !important;
}
.group_view_data_alrm * {
	color: #5C1D00 !important;
}
.group_view_data_warn * {
	color: #5C5900 !important;
}

.group_view * {
	text-shadow: none !important;
	font-size: 12px !important;
}

.list_groups .link_count {
	display: inline !important;
}

.list_groups .link_count.ui-link-inherit {
	margin-top: -5px;
	position: absolute;
	right: 10px;
	top: 0;
}
/*END-----------Groups styles-----------------------------------------*/



/*INIT----------Events styles-----------------------------------------*/
.datos_green, .datos_greenf9, .datos_green a, .datos_greenf9 a {
	background-color: #52A000;
	color: #FFFFFF !important;
	text-shadow: none !important;
}
.datos_red, .datos_redf9, .datos_red a, .datos_redf9 a {
	background-color: #FF3E41;
	color: #FFFFFF !important;
	text-shadow: none !important;
}

.datos_yellow, .datos_yellowf9, .datos_yellow a, .datos_yellowf9 a {
	background-color: #F5E535;
	color: #000000 !important;
	text-shadow: none !important;
}
.datos_blue, .datos_bluef9, .datos_blue a, .datos_bluef9 a {
	background-color: #77E2F2;
	color: #000000 !important;
	text-shadow: none !important;
}
.datos_grey, .datos_greyf9, .datos_grey a, .datos_greyf9 a {
	background-color: #E4E4E4;
	color: #000000 !important;
	text-shadow: none !important;
}
.datos_pink, .datos_pinkf9, .datos_pink a, .datos_pinkf9 a {
	background-color: #FF92E9;
	color: #000000 !important;
	text-shadow: none !important;
}
.datos_brown, .datos_brownf9, .datos_brown a, .datos_brownf9 a {
	background-color: #C97A4A;
	color: #000000 !important;
	text-shadow: none !important;
}

tr.events {
	border-bottom: 3px solid white !important;
	font-size: 12px !important;
}

table#list_events th {
	font-size: 12px !important;
	font-weight: bolder !important;
}

@media screen and (max-width: 320px)
{
	.pandora_responsive th {
		padding-right: 10px;
		padding-left: 10px;
	}
	
	.pandora_responsive .event_id td,
	.pandora_responsive .event_id th,
	.pandora_responsive .event_name td,
	.pandora_responsive .event_name th,
	.pandora_responsive .event_owner th,
	.pandora_responsive .event_timestamp th,
	.pandora_responsive .event_timestamp td,
	.pandora_responsive .event_type td,
	.pandora_responsive .event_type th {
		float: left;
	}
	
	.pandora_responsive .event_id {
		float: left;
	}
	
	.pandora_responsive .event_name {
		
	}
	
	.cell_event_name {
		padding-left: 10px;
	}
	
	.event_timestamp td,
	.event_timestamp th {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.cell_event_name {
		width: 300px;
	}
	
	.cell_event_owner {
		float: left;
	}
	
	.event_type th {
		float: left;
	}
	
	.cell_event_type {
		float: left;
	}
	
	.event_owner {
		float: left;
	}
	
	.event_type {
		float: left;
	}
	
	.event_repeated {
		clear: left;
		float: left;
	}
	
	.event_repeated > th {
		float: left;
	}
	
	
	.cell_event_repeated {
		float: left;
	}
	
	.event_severity {
		float: left;
	}
	
	.event_severity > th {
		float: left;
	}
	
	.cell_event_severity {
		float: left;
	}
	
	.event_status > th {
		float: left;
	}
	
	.cell_event_status {
		float: left;
	}
	
	.event_acknowledged_by > th {
		float: left;
	}
	
	.cell_event_acknowledged_by {
		float: left;
	}
	
	.event_group > th {
		float: left;
	}
	
	.cell_event_group {
		float: left;
	}
	
	.event_tags > th {
		float: left;
		margin-top: 10px;
	}
	
	.cell_event_tags {
		float: left;
		padding-left: 10px;
		width: 300px;
	}
}

#list_events a {
	color: #333333 !important;
}

@media screen and (max-width: 35em) {
	/* Hide the title of event name */
	#list_events tbody tr.events td.cell_0 b.ui-table-cell-label {
		display: none;
	}
}

/*END-----------Events styles-----------------------------------------*/





/*INIT-----------Agents styles----------------------------------------*/
.red, .redb, .redi, .error {
	color: #CC0000;
}

.green {
	color: #5A8629;
}

.grey {
	color: #808080;
	font-weight: bold;
}

.cell_0 a {
	color: #000000 !important;
}

@media screen and (max-width: 35em) {
	#list_agents .cell_2 .ui-table-cell-label,
	#list_agents .cell_3 .ui-table-cell-label,
	#list_agents .cell_6 .ui-table-cell-label,
	#list_agents .cell_4 .ui-table-cell-label,
	#list_agents .cell_5 .ui-table-cell-label,
	#list_agents .cell_8 .ui-table-cell-label {
		min-width: auto !important;
	}
	
	#list_agents .cell_3 .ui-table-cell-label,
	#list_agents .cell_6 .ui-table-cell-label,
	#list_agents .cell_7 .ui-table-cell-label {
		padding-left: 10px;
	}
	
	#list_agents .cell_2,
	#list_agents .cell_3,
	#list_agents .cell_6,
	#list_agents .cell_7 {
		display: inline !important;
		float: none !important;
	}
	
	#list_agents .cell_4,
	#list_agents .cell_8 {
		display: inline !important;
		float: none !important;
	}
	
	#list_agents .cell_8 {
		display: inline !important;
		float: none !important;
	}
	
	#list_agents b.ui-table-cell-label {
		display: none;
	}
	
	#list_agents .show_collapside {
		display: inline !important;
	}
}
/*END-----------Agents styles-----------------------------------------*/



/*INIT-----------Modules styles---------------------------------------*/
@media screen and (max-width: 35em) {
	#list_Modules .cell_1 .ui-table-cell-label,
	#list_Modules .cell_5 .ui-table-cell-label,
	#list_Modules .cell_6 .ui-table-cell-label {
		min-width: auto !important;
	}
	
	#list_Modules .cell_5 .ui-table-cell-label,
	#list_Modules .cell_6 .ui-table-cell-label {
		padding-left: 10px;
	}
	
	#list_Modules .cell_3,
	#list_Modules .cell_4 {
		display: inline !important;
		float: none !important;
	}
	
	#list_Modules .cell_0 .ui-table-cell-label,
	#list_Modules .cell_1 .ui-table-cell-label,
	#list_Modules .cell_3 .ui-table-cell-label,
	#list_Modules .cell_4 .ui-table-cell-label,
	#list_Modules .cell_5 .ui-table-cell-label {
		display: none;
	}
	
	#list_Modules .show_collapside {
		display: inline !important;
	}
	
	#list_Modules .data {
		white-space: nowrap;
	}
	
	#list_Modules .cell_2 {
		display: none !important;
	}
}

#list_Modules .cell_5 a {
	color: #000000 !important;
}
/*END------------Modules styles---------------------------------------*/



/*INIT---------Fix the square border in search input------------------*/
.ui-input-search {
	border-radius: 0.6em 0.6em 0.6em 0.6em !important;
}

.ui-select {
	width: 100% !important;
}
/*END----------Fix the square border in search input------------------*/




ul.ui-listview li.ui-btn div.ui-btn-inner div.ui-btn-text {
	padding-top: 5px;
	padding-left: 5px;
}



/*INIT---------Fix the tons of air between the rows in small table----*/
.head_vertical {
	margin-top: 0px !important;
	border-top: 1px solid grey;
}

.head_horizontal {
	border-bottom: 1px solid grey !important;
}

@media screen and (max-width: 35em) {
	.ui-table th, .ui-table td {
		padding: 0px !important;
	}
}
/*END----------Fix the tons of air between the rows in small table----*/






/*INIT---------Fix to avoid clicks under loading message--------------*/
.ui-loader-background {
	width:100% !important;
	height:100% !important;
	top:0 !important;
	margin: 0 !important;
	background: rgba(0, 0, 0, 0.3) !important;
	display:none !important;
	position: fixed !important;
	z-index:100 !important;
}

.ui-loading .ui-loader-background {
	display:block !important;
}
/*END----------Fix to avoid clicks under loading message--------------*/