* {
	text-decoration: none !important;
}

body {
	background-color: white;
	border-style: none;
	direction: ltr;
	display: block;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	margin: 0;
	text-align: left;
	vertical-align: top;
}

.group_view tr {
	border-bottom: 3px solid white !important;
}

tr.group_view_crit, .group_view_crit {
	background-color: #FA3030;
	color: #000000 !important;
}

.group_view_crit * {
	color: #000000 !important;
}

tr.group_view_norm, .group_view_norm {
	background-color: #FFFFFF;
	color: #000000 !important;
}
.group_view_norm * {
	color: #000000 !important;
}

tr.group_view_ok, .group_view_ok {
	background-color: #00C000;
	color: #000000 !important;
}
.group_view_ok * {
	color: #000000 !important;
}

tr.group_view_warn, .group_view_warn, tr.group_view_warn.a, a.group_view_warn, tr.a.group_view_warn {
	background-color: #F5E535;
}
a.group_view_warn {
	color: #000000 !important;
}

tr.group_view_alrm, .group_view_alrm {
	background-color: #ED8701;
}
.group_view_alrm * {
	color: #000000 !important;
}

tr.group_view_unk, .group_view_unk {
	background-color: #C4C4C4;
}
.group_view_unk * {
	color: #000000 !important;
}

tr.group_view_data, .group_view_data {
	color: #000000 !important;
}
.group_view_data_unk {
	color: #303030 !important;
}
.group_view_data_ok {
	color: #00C000 !important;
}
.group_view_data_crit {
	color: #5C0000 !important;
}
.group_view_data_alrm {
	color: #5C1D00 !important;
}
.group_view_data_warn {
	color: #5C5900 !important;
}

/*Fix the square border in search input*/
.ui-input-search {
	border-radius: 0.6em 0.6em 0.6em 0.6em !important;
}

.ui-select {
	width: 100% !important;
}