* {
	margin: 0;
	padding: 0;
	border: 0;
	
	font-size: 12px;
	font-family: Arial;
}

a:hover {
	text-decoration: none;
}

body {
}

input {
	border: 1px solid;
}

.tactical_link {
	text-decoration: none;
}

.tactical_link:hover {
	text-decoration: underline;
}

.orange {
	color: #ffa300;
}
.green {
	color: #5a8629;
}
.yellow {
	color: #F3C500;
}
.greenb {
	color: #00aa00;
}
.grey {
	color: #808080;
	font-weight: bold;
}

select {
	border: #CCCCCC 1px solid;
}

.button_filter {
	background: url("../../images/zoom.png") no-repeat scroll center center;
	margin-left: 5px;
	width: 20px;
	height: 20px;
}

input {
	border: #CCCCCC 1px solid;
}

.title_h3, .title_h3 * {
	border-top: 1px solid #CCCCCC;
	margin: 5px;
	color: #3F4E2F;
}

.title_h3_server {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	margin: 5px;
	color: #3F4E2F;
}
tr.rowPair {
	background-color: #fff;
}
tr.rowOdd {
	background-color: #EEEEEE;
}
tr.rowPair:hover {
	background-color: #E0E0E0;
}
tr.rowOdd:hover {
	background-color: #E0E0E0
}

#footer {
	background: #000;
	height: 30px;
	color: #fff;
	text-align: center;
	margin-top: 20px;
	font-size: 10px;
}

/*----------------INI-MENU----------------------------------------------------*/
#top_menu {
	background: #3F4E2F;
	overflow: hidden;
	position: absolute;
	z-index: 2;
}

#margin_bottom_menu {
	/*margin-bottom: 17px;*/
}

#menu {
	display: none;
}

#down_button {
	height: 20px;
	background: #fff;
}

#down_button img {
	background: #3F4E2F;
	padding-left: 10px;
	padding-right: 10px;
}

.icon_menu {
	width: 30px;
	height: 30px;
}
/*----------------END-MENU----------------------------------------------------*/

/*----------------INI-EVENTS ROW BACKGROUND-----------------------------------*/
.datos_green, .datos_greenf9 {
	background-color: #BBFFA4;
}
.datos_red, .datos_redf9 {
	background-color: #FFC0B5;
}
.datos_yellow, .datos_yellowf9 {
	background-color: #F4FFBF;
}
.datos_blue, .datos_bluef9 {
	background-color: #CDE2EA;
}
.datos_grey, .datos_greyf9 {
	background-color: #E4E4E4;
}
/*----------------END-EVENTS ROW BACKGROUND-----------------------------------*/

/*----------------INI-TABLE---------------------------------------------------*/
th {
background-color:#9EAC8B;
color:#FFFFFF;
text-align:center;
}

.databox {
	border: 1px solid #f2f2f2;
	background-color: #fafafa;
}
/*----------------END-TABLE---------------------------------------------------*/
