[mysqld]
pid-file=/var/run/mysqld/mysqld.pid
log-error=/var/log/mysql/mysqld.log
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
character-set-server=UTF8MB4
skip-character-set-client-handshake
# Mysql optimizations for Pandora FMS
# Please check the documentation in http://pandorafms.com for better results

max_allowed_packet = 32M
innodb_buffer_pool_size = 256M
innodb_lock_wait_timeout = 120
innodb_file_per_table
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
innodb_log_file_size = 64M
innodb_log_buffer_size = 16M
#innodb_io_capacity = 100
#thread_cache_size = 8
thread_stack = 256K
max_connections = 130

key_buffer_size=128K
read_buffer_size=128K
read_rnd_buffer_size=128K
sort_buffer_size=256K
join_buffer_size=2M

sql_mode=""

# testing
#innodb_lru_scan_depth = 256
#innodb_page_cleaners = 8
#innodb_buffer_pool_instances = 4

skip_name_resolve
innodb=1
thread_cache_size = 120
table_definition_cache = 4000
table_open_cache = 4000

[mysqld_safe]
log-error=/var/log/mysql/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
