.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}
#files-table a.file-link span.glyphicon,
#files-table span.file-link span.glyphicon {
  vertical-align: middle;
  font-size: x-large;
  margin-right: 10px;
}
input.no-mobile-zoom {
  font-size: 16px;
}
div.term-container {
  width: 100%;
  height: 100%;
}
div.term-container div.terminal {
  box-shadow: 0 0 30px rgba(0,0,0,0.7);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.glyphicon-refresh-animate {
  -animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}
@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
@-o-keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
