.visual-console-item {
  position: absolute;
}

.visual-console-item > * {
  width: inherit;
  height: inherit;
}

/* Clock item */

@font-face {
  font-family: Alarm Clock;
  src: url(alarm-clock.ttf);
}

.visual-console-item .digital-clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.visual-console-item .digital-clock > span {
  font-family: "Alarm Clock", "Courier New", Courier, monospace;
  font-size: 50px;
}

.visual-console-item .digital-clock > span.date {
  font-size: 25px;
}

.visual-console-item .digital-clock > span.timezone {
  font-size: 25px;
}
