body {
    min-width:425px;
    min-height:540px;
    margin:5px;
    font-family:Tahoma, Geneva, Arial;
    font-size:10pt;
}
h1 { font-weight: bold; font-size:16px; margin:2px 0px 2px 0px; color:#0068C4; font-family:arial }
h2{
    color : blue;
}
p
{
    font-family:"Times New Roman";
    font-size:20px;
}

a { color: #035BAC; text-decoration:none; }
a:hover { text-decoration:underline; }
a:visited { color: #035BAC; text-decoration:none; }
a:visited:hover { text-decoration:underline; }

span.res { font-size:80%; color:#555; }

img.pm { margin-right:3px;cursor:pointer; margin-top:0px; }
div.main{
    background-color : white;
    height: 500px;
    width: 400px;
}
div.textarea{
    background-color : #D5DED5;
    width :100%
}
div.e{ text-align:right; font-size:8pt; }
div.b { background-color:white; border:1px solid #BABABA; margin:5px; padding:4px; display:none; }
div.b p a { font-size: 10pt; }
div.b p { margin:2px 0px 4px 0px; display:none; color:#333; font-size:9pt; }
div.b div.items p {
    margin:2px 0px 8px 0px; color:#333; width:355px;float:left;display:block;
}
div.b div.items p img {
    float:left;margin:0px 3px 0px 0px;
}






div.options_header{
    height :80px;
    width : 450px;
    margin : 10px 10px;
}

div.options_divider{
    width : 100%;
    background-color : #C8D8E8;
}

div.optionsG_textarea{
    background-color : green;
    width : 450px;
    margin : 5px, 10px;
}
div.options_textarea{
    background-color : #E1EDE5;
    width : 450px;
    margin : 10px 10px;
}


.tooltip {
    display:none;
    font-size:12px;
    height:70px;
    width:160px;
    padding:25px;
    color:#eee;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; 
    margin-top: -50px; 
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; 
    height: 102px; 
}


