<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="pandroid.agent"
      android:versionCode="2"
      android:versionName="1.5">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity
        	android:name=".PandroidAgent"
			android:label="@string/app_name"
			android:configChanges="keyboardHidden|orientation"
			android:theme="@android:style/Theme.NoTitleBar"
		>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Status" />
        <activity android:name=".Setup" />
        
    	<service android:enabled="true" android:name="pandroid.agent.PandroidAgentListener" />
		<receiver android:name="pandroid.agent.EventReceiver" />
		<activity
        	android:name=".About"
        	android:label="@string/pandroid_agent_str"
        	android:theme="@android:style/Theme.Dialog"
        />
		<activity
        	android:name=".Help"
        	android:label="@string/help_str"
        	android:theme="@android:style/Theme.Dialog"
        />
		
		<receiver android:name=".SMSBroadcastReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"></action>
            </intent-filter>
        </receiver>
        <service
        	android:name=".SMSActivity"
        	android:label="@string/sms_activity_str"
        	android:theme="@android:style/Theme.Dialog"
        />
    </application>
    
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="android.permission.BATTERY_STATS"/>
	<uses-permission android:name="android.permission.RECEIVE_SMS"/>
	
	<uses-feature android:name="android.hardware.sensor.light" />
	<uses-feature android:name="android.hardware.location" />
	
    <uses-sdk android:minSdkVersion="8"/>
</manifest> 