<?xml version="1.0" encoding="utf-8"?>
<!--
// Pandora FMS - http://pandorafms.com
// ==================================================
// Copyright (c) 2005-2011 Artica Soluciones Tecnologicas
// Please see http://pandorafms.org for full contribution list

// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU Lesser General Public License
// as published by the Free Software Foundation; version 2

// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details. 
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="pandroid.agent"
      android:versionCode="2"
      android:versionName="1.5">
    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name">
        <activity
        	android:name=".PandroidAgent"
			android:label="@string/app_name"
			android:configChanges="keyboardHidden|orientation" 
			android:theme="@android:style/Theme.NoTitleBar"
		>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Status" />
        <activity android:name=".Setup" />
        
    	<service android:enabled="true" android:name="pandroid.agent.PandroidAgentListener" />
		<receiver android:name="pandroid.agent.EventReceiver" />
		<activity
        	android:name=".About"
        	android:label="@string/pandroid_agent_str"
        	android:theme="@android:style/Theme.Dialog"
        />
		<activity
        	android:name=".Help"
        	android:label="@string/help_str"
        	android:theme="@android:style/Theme.Dialog"
        />
		
		<receiver android:name=".SMSBroadcastReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"></action>
            </intent-filter>
        </receiver>
        
    </application>
    
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="android.permission.BATTERY_STATS"/>
	<uses-permission android:name="android.permission.RECEIVE_SMS"/>
	<uses-permission android:name="android.permission.READ_CONTACTS"/>
	<uses-permission android:name="android.permission.READ_SMS"/>
	
	
	<uses-feature android:name="android.hardware.sensor.light" />
	<uses-feature android:name="android.hardware.location" />
	
    <uses-sdk android:minSdkVersion="8"/>
</manifest> 