[Unit]
Description=Tentacle server daemon
After=network-online.target

[Service]
Type=forking
ExecStart=/usr/bin/tentacle_server -a 0.0.0.0 -p 41121 -s /var/spool/pandora/data_in -i.*\.conf:conf;.*\.md5:md5;.*\.zip:collections -d
User=pandora

[Install]
WantedBy=multi-user.target
