text.text-tooltip {
  font-family: "lato-bolder", "Open Sans", sans-serif;
  font-weight: bold;
}

div#bullets_modules span {
  font-family: "lato-bolder", "Open Sans", sans-serif;
}

table#agent_interface_info .noresizevc.graph {
  width: 500px;
}

div.agent_details_agent_alias {
  flex: 1;
}

div.agent_details_agent_alias * {
  font-family: "lato-bolder", "Open Sans", sans-serif;
}

#module_list {
  width: 100%;
}

#module_filter_agent_view tr td {
  padding-bottom: 3em;
}

#div_all_events_24h {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 3em;
}
