text.text-tooltip {
  font-family: "lato-bolder", "Open Sans", sans-serif !important;
}

div#bullets_modules span {
  font-family: "lato-bolder", "Open Sans", sans-serif !important;
}

table#agent_interface_info .noresizevc.graph {
  width: 500px !important;
}

div.agent_details_agent_alias {
  flex: 1;
}

div.agent_details_agent_alias * {
  font-family: "lato-bolder", "Open Sans", sans-serif !important;
}
