.agent_details_col {
  max-height: 340px;
  overflow: hidden;
  margin: 0.5em 0.5em;
}

.agent_details_col_left {
  min-width: 370px;
  flex: 1 1 370px;
}

.agent_details_col_right {
  align-self: flex-end;
  min-width: 500px;
  flex: 3 3 500px;
}

.agent_details_col_right .cluster-map {
  width: 100%;
  height: 100%;
}

.w100p.modules {
  min-width: 985px;
}
