/* Debug styles */
pre.debug,
div.backtrace {
  text-align: left;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
}
div.backtrace ol {
  margin: 0;
  padding-left: 20px;
}
pre.debug {
  background-color: #fff55f;
}
div.debug,
div.database_debug_title,
div.debug a,
div.debug a:hover {
  background-color: white;
  color: black;
  text-align: left;
}
div.debug a,
div.debug a:hover,
div.parameters {
  text-decoration: underline;
}
div.database_debug_title {
  font-size: 15pt;
  margin-top: 15px;
  padding: 5px;
  width: 95%;
}

/* Common useful styles */
.invisible {
  display: none;
}
.left {
  clear: left;
  float: left;
}
.right {
  clear: right;
  float: right;
}
.relative.right {
  clear: none;
  float: right;
}
.clear {
  clear: both;
}
.top {
  vertical-align: top;
  margin-top: 0;
  padding-top: 0;
}
img.left {
  margin-right: 1em;
  margin-bottom: 1.8em;
}
img.right {
  margin-left: 1em;
  margin-bottom: 1.8em;
}
.text-right {
  text-align: right;
}
.noshadow {
  -moz-box-shadow: 0px;
  -webkit-box-shadow: 0px;
  box-shadow: 0px;
}
.center_align {
  text-align: center;
}
.left_align {
  text-align: left;
}
.right_align {
  text-align: right;
}
