#info_key .flex-row,
#new_key .flex-row {
  margin: 1em auto;
  max-width: 80%;
}

#info_key input,
#info_key select,
#new_key input,
#new_key select {
  width: 60%;
}

ul.wizard li > label:not(.p-switch) {
  width: auto;
}

form.top-action-buttons ul.wizard {
  display: flex;
  flex-direction: row;
}

ul.wizard li {
  margin-right: 1em;
}

form#modal_form ul.wizard li {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  justify-items: center;
}

form#modal_form ul.wizard li * {
  flex: 1;
}

ul.wizard li.flex-indep {
  flex: 1;
  margin: 0;
}

form#modal_form ul.wizard li textarea {
  font-size: 0.8em;
  flex: 1 1 400px;
  max-width: 400px;
}
