
/* This file skins dialog */

.ui-dialog {
    background: none repeat scroll 0 0 #b0d68d !important; 
    border: 1px solid #DDDDDD !important;
    color: #333333 !important;
    padding: 0.2em !important;
    overflow: hidden !important;
        		
	-moz-border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	border-radius: 4px !important;
	
	-moz-box-shadow: 0px 5px 5px #010E1B !important;
	-webkit-box-shadow: 0px 5px 5px #010E1B !important;
	box-shadow: 0px 5px 5px #010E1B !important;
}

.ui-resizable-handle {
	background: none !important;
	border: 0px none !important;
}

.ui-dialog .ui-dialog-titlebar {
	background: url(../../images/ui_title.png) repeat-x scroll !important;
	height: 14px !important;
	#_height: 16px !important;
	padding: 0.3em 1em !important;
	position:relative;
	margin: 0px auto 0 auto !important;
	font-weight: bold !important;
	#border-bottom: 1px solid #A9A9A9 !important;
	#border-top: 1px solid #A9A9A9 !important;
	#border-left: 1px solid #A9A9A9 !important;
	#border-right: 1px solid #A9A9A9 !important;
	color: #FFFFFF !important;
	#padding: 0.1em 1em !important;

	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.ui-dialog .ui-dialog-title {
	margin-left: 5px !important;
	color: white !important;
	font-weight: bold !important;
	position: relative !important;
	#top: 7px !important;
	left: 4px !important;
	float: none !important;
}

.ui-dialog.ui-draggable .ui-dialog-titlebar {
	cursor: move !important;
}

.ui-dialog .ui-dialog-titlebar-close {
	width: 16px !important;
	height: 16px !important;
	background: url(images/dialog-titlebar-close.png) no-repeat !important;
	position: absolute !important;
	top: 2px;
	right: 5px !important;
	cursor: default !important;
}

	.ui-dialog .ui-dialog-titlebar-close span {
		display: none !important;
	}

	.ui-dialog .ui-dialog-titlebar-close-hover {
		background: url(images/dialog-titlebar-close-hover.png) no-repeat !important;
	}

	.ui-dialog .ui-dialog-titlebar-close-hover {
		color: #000000 !important;
	}

.ui-dialog .ui-dialog-content {
	#margin: 1.2em !important;
	#padding: 0.5em 1em !important;
	overflow: auto !important;
}

.ui-dialog-content {
	overflow: auto !important;
	
	border-left: 1px solid #A9A9A9 !important;
	border-right: 1px solid #A9A9A9 !important;
	border-bottom: 1px solid #A9A9A9 !important;
    border-radius: 0px 0px 4px 4px !important;
    #height: auto !important;
    #width: 99% !important;
    margin: 0 auto !important;
    background: #FFFFFF !important;	
    #margin-bottom: 10px !important;
    position: relative !important;	
}

.ui-dialog-content {
	overflow: auto !important;
	width: auto !important;
	#height: auto !important;
}

.ui-dialog .ui-dialog-buttonpane {
	background-color: #2179B1;
	position: absolute;
	bottom: 8px;
	right: 12px;
	width: 100%;
	text-align: right;
}

.ui-dialog .ui-dialog-buttonpane button {
	margin-bottom: 6px;
}

.ui-dialog .ui-dialog-buttonpane button {
	border-bottom-color: #708090;
	border-right-color: #708090;
	-moz-border-radius: 5%;
	font-size: 0.85em;
	font-weight: bold;
	height: 22px;
}

/* Dialog handle styles */
/*Disabled*/
/*
.ui-dialog .ui-resizable-n {
	cursor: n-resize;
	height: 6px;
	width: 100%;
	top: 0px;
	left: 0px;
	background: transparent url(images/dialog-n.gif) repeat scroll center top;
}

.ui-dialog .ui-resizable-s {
	cursor: s-resize;
	height: 8px;
	width: 100%;
	bottom: 0px;
	left: 0px;
	background: transparent url(images/dialog-s.gif) repeat scroll center top;
}

.ui-dialog .ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: 0px;
	top: 0px;
	height: 100%;
	background: transparent url(images/dialog-e.gif) repeat scroll right center;
}

.ui-dialog .ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: 0px;
	top: 0px;
	height: 100%;
	background: transparent url(images/dialog-w.gif) repeat scroll right center;
}

.ui-dialog .ui-resizable-se {
	cursor: se-resize;
	width: 9px;
	height: 9px;
	right: 0px;
	bottom: 0px;
	background: transparent url(images/dialog-se.gif);
}

.ui-dialog .ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: 0px;
	bottom: 0px;
	background: transparent url(images/dialog-sw.gif);
}

.ui-dialog .ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 29px;
	left: 0px;
	top: 0px;
	background: transparent url(images/dialog-nw.gif);
}

.ui-dialog .ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 29px;
	right: 0px;
	top: 0px;
	background: transparent url(images/dialog-ne.gif);
}*/

.ui-dialog .ui-button-dialog {
    cursor: pointer;
    margin: 0.5em 0.4em 0.5em 0;
}

.ui-dialog .ui-button-dialog {
    background: #F6F6F6;
    border: 1px solid #CCCCCC;
    color: #696969;
    font-weight: bold;
    outline: medium none;
    cursor: pointer;    
    margin: 0.5em 0.4em 0.5em 0;
    border-radius: 4px 4px 4px 4px;
}

.ui-dialog .ui-button-dialog:hover {
    background: #FDF5CE;
    border: 1px solid #FBCB09;
    color: #C77405;
    font-weight: bold;
    outline: medium none;
}

.ui-dialog-overlay {
	background: url("images/ui-bg_diagonals-thick_20_666666_40x40.png") repeat scroll 50% 50% #666666 !important;
}

