div.criticity {
  width: 150px;
  height: 2em;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  font-size: 0.8em;
  padding: 3px;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

div.mini-criticity {
  width: 5px;
  height: 4em;
  padding: 0;
  margin: 0;
  display: inline-block;
}
