.new_task {
  margin-top: 30px;
  left: 20px;
  width: 60%;
  height: 300px;
  background-color: #ececec;
  border-radius: 3px 3px 3px 3px;
}
div.new_task_cluster {
  margin-top: 30px;
  left: 20px;
  width: 60%;
  border-radius: 3px 3px 3px 3px;
}

div.new_task_cluster,
div.new_task_cluster > div {
  background-color: #ececec;
}

.title_task {
  background: url(../../images/icono_exclamacion.png) no-repeat scroll 280px 50%
    #82b92e;
  padding: 10px 5px 6px 300px;
  margin: 5px 5px 10px 5px;
  font-weight: bold;
  color: #fff;
  border-radius: 3px 3px 3px 3px;
}

.image_task {
  width: 20%;
  height: 100%;
  float: left;
}
.image_task_cluster {
  width: 20%;
  height: 100%;
  float: left;
  margin-left: 50px;
  margin-top: 50px;
}
.image_task > img {
  margin-top: 35%;
  margin-left: 15%;
}

.text_task {
  width: 70%;
  float: right;
  height: 100%;
  padding-right: 25px;
}
.text_task_cluster {
  width: 70%;
  height: 100%;
  padding-right: 25px;
  margin-left: 270px;
  padding-top: 10px;
}
.text_task > p {
  margin-top: 4%;
}

.button_task {
  margin-top: 10px;
  background-color: #3f3f3f;
  padding: 10px 10px 10px 10px;
  font-weight: bold;
  color: #82b92e;
  border: none;
}
#description_task {
  font-size: 12px;
  line-height: 1.8em;
}

#fuerte {
  font-size: 12px;
}

.flex-row-baseline * {
  margin-right: 1em;
}
