.new_task
{
	margin-top: 30px;
	left: 20px;
	width: 60%;
	height: 300px;
	background-color: #ececec;
	border-radius: 3px 3px 3px 3px;
}

.title_task
{
	background: url(../../images/icono_exclamacion.png) no-repeat scroll 280px 50% #82B92E;
	padding: 10px 5px 6px 300px;
	margin: 5px 5px 10px 5px;
	font-weight: bold;
	color: #FFF;
	border-radius: 3px 3px 3px 3px;
}

.image_task
{
	width:20%;
	height:100%;
	float:left;
}
.image_task>img {
	margin-top: 35%;
	margin-left: 15%;
}

.text_task
{
	width: 70%;
	float: right;
	height: 100%;
}
.text_task>p
{
	margin-top: 7%;
}

.button_task
{
	margin-top:10px;
	background-color: #3F3F3F !important;
	padding: 10px 10px 10px 10px;
	font-weight: bold;
	color: #82B92E;
	border:none;
}
#description_task
{
	font-size: 12px;
}

#fuerte{
	font-size: 12px;
}
