div.fixed-bottom-box {
  background: #fff;
  height: -webkit-fill-available;
  height: -moz-fill-available;
  border-left: 1px solid #aeaeae;
}

/* Overrides */
.left_align {
  /*border: 1px solid #e1e1e1;*/
}
.white_table_graph_header {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin: -1px;
}
.white-box-content {
  margin: -1px;
}
/* Overrides end */

div.fixed-bottom-box > div.fixed-bottom-box-head {
  width: 100% !important;
  height: 40px;
  line-height: 30px;
  vertical-align: middle;
  box-sizing: border-box;
  border-bottom: 1px solid #eaeaea;
}

div.fixed-bottom-box
  > div.fixed-bottom-box-head
  > div.fixed-bottom-box-head-body {
  height: inherit;
  line-height: inherit;
  background-color: #fff;
  font-weight: bold;
  vertical-align: middle;
  border-bottom: 1px solid #eaeaea;
}

div.fixed-bottom-box
  > div.fixed-bottom-box-head
  > span.fixed-bottom-box-head-close {
  height: 20px;
  width: 20px;
  background-image: url(../../images/close@svg.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

div.fixed-bottom-box
  > div.fixed-bottom-box-head
  > div.fixed-bottom-box-head-body:hover {
  cursor: pointer;
}

div.fixed-bottom-box
  > div.fixed-bottom-box-head
  > span.fixed-bottom-box-head-close:hover {
  cursor: pointer;
}

div.fixed-bottom-box.fixed-bottom-box-hided
  > div.fixed-bottom-box-head
  > div.fixed-bottom-box-head-body {
  /*background-image: url(../../images/.png);
	background-repeat: no-repeat;
	background-position: right;*/
}

div.fixed-bottom-box.fixed-bottom-box-opened
  > div.fixed-bottom-box-head
  > div.fixed-bottom-box-head-body {
  /*background-image: url(../../images/.png);
	background-repeat: no-repeat;
	background-position: right;*/
}

div.fixed-bottom-box > div.fixed-bottom-box-content {
  vertical-align: top;
  text-align: center;
  /*overflow: auto;*/
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100% !important;
  height: 100% !important;
  max-height: 100% !important;
}

#fixed-bottom-box-head-title {
  position: absolute;
  top: 10px;
  left: 20px;
}
