/*
 * ---------------------------------------------------------------------
 * - FOOTER 														-
 * ---------------------------------------------------------------------
 */
a.footer,
a.footer span {
  font-size: 9px;
  color: white;
}

div#foot {
  text-align: center;
  background: #343434;
  clear: both;
  width: auto;
  margin-top: auto;
  box-sizing: border-box;
}

div#foot a,
div#foot span {
  font-size: 8pt;
  color: #9ca4a6;
  line-height: 14pt;
}

div#foot small span {
  font-size: 0.8em;
}
