/*
 * Discovery css global
 */

*,
::after,
::before {
  box-sizing: unset !important;
}

ul.bigbuttonlist {
  min-height: 200px;
}

li.discovery {
  display: inline-block;
  float: left;
  width: 250px;
  margin: 15px;
  padding-bottom: 50px;
}

li.discovery > a {
  text-decoration: none;
  color: #333;
}
li.discovery > a:hover {
  color: #000;
}

li.discovery img {
  height: 90px;
}

li.discovery > a label {
  cursor: pointer;
}

div.data_container > label {
  font-weight: lighter;
}

div.data_container {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

div.data_container:hover {
  box-shadow: 2px 2px 10px #777777;
}

/*
 * TODO: This may be at hostdevices.css
 */
.texto {
  height: auto;
  text-align: center;
}
h1.wizard {
  padding: 0;
  margin: 0;
}
h1.wizard a {
  margin-left: -20px;
}
h1.wizard a:hover {
  color: #fff;
}
#text_wizard {
  font-weight: bolder;
  text-decoration: none;
  font-size: 24px;
}
div.arrow_box {
  display: inline-block;
  position: relative;
  color: #888;
  padding: 1.3em;
  margin-left: 20px;
  margin-bottom: 10px;
  padding-left: 3em;
}

.arrow_box.selected {
  background: #424242;
  color: #ccc;
}

.arrow_box:after {
  left: 0%;
  border-left-color: white;
  border-width: 20px;
  margin-top: -20px;
}

div.arrow_box:before {
  left: 100%;
  border-left-color: #ccc;
  border-width: 20px;
  margin-top: -20px;
}
.arrow_box.selected:before {
  border-left-color: #424242;
}

.arrow_box.selected:hover {
  color: #fff;
}
.arrow_box:hover {
  color: #000;
}

/*
 * Discovery forms structure
 */

form.discovery * {
  font-size: 10pt;
}

form.discovery .label_select b {
  font-weight: bolder;
}

.edit_discovery_info {
  display: flex;
  align-items: flex-start;
  padding-top: 25px;
}

.edit_discovery_input {
  align-items: center;
  margin-bottom: 25px;
}

/*
 * Discovery text inputs
 */

.discovery_label_hint {
  display: flex;
}

label {
  color: #343434;
  font-weight: bold;
}

.discovery_full_width_input {
  width: 100%;
}
/*
li > input[type="number"],
li > input[type="text"]:not(.search_input),
li > input[type="email"],
li > input[type="password"],
.discovery_text_input > input[type="password"],
.discovery_text_input > input[type="text"],
#interval_manual > input[type="text"] {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  padding: 0px 0px 2px 0px;
  box-sizing: border-box;
  margin-bottom: 4px;
}
*/
#interval_manual > input[type="text"] {
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.discovery_list_input {
  width: 100%;
  border: 1px solid #cbcbcb;
  overflow-y: auto;
}

.discovery_list_input option {
  text-align: left;
}

.discovery_list_input option:checked {
  background: #1aab8e -webkit-linear-gradient(bottom, #7db742 0%, #7db742 100%);
  color: #fff;
}

.discovery_textarea_input {
  background-color: #fbfbfb;
  padding-left: 10px;
  width: 100%;
  height: 100px;
  max-height: 100px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
}

a.tip {
  margin-left: 8px;
}

.inline_switch > label {
  float: right;
}

.discovery_interval_select_width {
  width: 90%;
}

a.ext_link {
  margin-left: 1em;
  font-size: 8pt;
}

/*
 * Discovery > Wizard css global style
 */
ul.wizard li {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: 1em;
}

ul.wizard li > label:not(.p-switch) {
  width: auto;
  vertical-align: top;
  display: inline-block;
}

ul.wizard li > textarea {
  width: 600px;
  height: 15em;
  display: inline-block;
}

.container-block-column {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.container-block-column ul.wizard {
  width: 100%;
}

.hidden {
  display: none;
}

form.modal-dashboard ul.wizard li.hidden,
form.modal ul.wizard li.hidden {
  display: none;
}

form.top-action-buttons ul.wizard {
  display: flex;
  flex-direction: row;
}

form.modal-dashboard ul.wizard li,
form.modal ul.wizard li {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0.5em auto;
  justify-items: center;
  align-items: center;
  flex-wrap: nowrap;
}

form.modal-dashboard ul.wizard li *,
form.modal ul.wizard li *:not(.tox.tox-tinymce *) {
  flex: 1 1 50%;
}

ul.wizard li.flex-indep {
  flex: 1;
  margin: 0;
}

/* Tooltip message errors*/
div.ui-tooltip.ui-corner-all.ui-widget-shadow.ui-widget.ui-widget-content.uitooltip {
  background: grey;
  opacity: 0.9;
  border-radius: 4px;
  box-shadow: 6px 5px 9px -9px black;
  padding: 6px;
}

.ui-tooltip-content {
  background: transparent;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.03pt;
  font-size: 8pt;
}

.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 50%;
}
.arrow:after {
  background: grey;
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}
/* END Tooltip message errors*/

form.modal {
  position: initial !important;
  display: initial !important;
}

form#modal_form_feedback > ul > li {
  visibility: initial !important;

  display: initial !important;
  flex-direction: initial !important;
  width: initial !important;
  margin: initial !important;
  justify-items: initial !important;
  align-items: initial !important;
  flex-wrap: initial !important;
}

form#modal_form_feedback > ul > li > textarea {
  width: 575px !important;
}

form#modal_form_feedback > ul > li:not(:first-child) > label {
  margin-top: 20px !important;
}
