#god a {
	display: block;
	color: #000;
	text-decoration: none;
}
#god li {
	left: 1px;
	width: 99%;
	border-bottom: 1px solid #d4d4d4;
	border-top: 1px solid #ffffff;
}
div.menug {
	background-color: #f5f5dc;
	border: 1px solid #dadbdc;
	width: 155px;
	margin-bottom: 5px;
}
#god1 li, #god2 li, #god3 li, #god4 li, #god5 li, #god51 li, #god6 li, #god7 li, #god8 li, #god1s li, #god2s li, #god3s li, #god4s li, #god5s li, #god51s li, #god6s li, #god7s li, #god8s li, #god_module li, #god_module_sel li, #god-extensions li {
	padding: 0px 0px 0px 30px;
}
div#god1>ul, div#god2>ul, div#god3>ul, div#god4>ul, div#god5>ul, div#god51>ul, div#god6>ul, div#god7>ul, div#god8>ul, div#god1s>ul, div#god2s>ul, div#god3s>ul, div#god4s>ul, div#god5s>ul, div#god51s>ul, div#god6s>ul, div#god7s>ul, div#god8s>ul, div#god_module>ul, div#god_module_sel>ul , .god-menu ul{
	width: 126px;
}
#god1 li, #god1 li:hover, #god1s li  {
	background: url(../../images/god1.png) no-repeat 4px 2px;
}
#god2 li, #god2 li:hover, #god2s li{
	background: url(../../images/god2.png) no-repeat 4px 3px;
}
#god3 li, #god3 li:hover, #god3s li {
	background: url(../../images/god3.png) no-repeat 5px 3px;
}
#god4 li, #god4 li:hover, #god4s li{
	background: url(../../images/god4.png) no-repeat 5px 4px;
}
#god5 li, #god5 li:hover, #god5s li {
	background: url(../../images/god5.png) no-repeat 3px 3px;
}
#god51 li, #god51 li:hover, #god51s li {
	background: url(../../images/reporting_edit.png) no-repeat 4px 4px;
}
#god6 li, #god6 li:hover, #god6s li {
	background: url(../../images/god6.png) no-repeat 4px 3px;
}
#god7 li, #god7 li:hover, #god7s li {
	background: url(../../images/god7.png) no-repeat 4px 3px;
}
#god8 li, #god8 li:hover, #god8s li {
	background: url(../../images/god8.png) no-repeat 5px 4px;
}
#god_module li, #god_module li:hover, #god_module_sel li {
	background: url(../../images/brick.png) no-repeat 6px 4px;
}
#god-extensions li, #god-extensions li:hover {
	background: url(../../images/extensions.png) no-repeat 5px 3px;
}

div.arrowg>ul, div.arrowgs>ul, div#arrowgl>ul, div#arrowgls>ul , .god-submenu>ul {
	width: 75%;
}
.arrowg li, .arrowg li:hover, .arrowgs li, #arrowgl li, #arrowgl li:hover, #arrowgls li, .god-submenu li {
	background: url(../../images/arrow.png) no-repeat 2px 4px;
	margin-left: 26px;
	padding: 0px 0px 0px 14px;	
}
.menu-god-selected, #menug li:hover, .submenu-god-selected li, .god-submenu li:hover {
	background-color: #efefbd !important;
}

#god a:hover,
#god1 li:hover, #god1s li, #god2 li:hover, #god2s li, #god3 li:hover, #god3s li,
#god4 li:hover, #god4s li, #god5 li:hover, #god5s li, #god6 li:hover, #god6s li,
#god7 li:hover, #god7s li, #god8 li:hover, #god8s li, 
#god_module li:hover, #god_module_sel li, #god51 li:hover, #god51s li,
.arrowg li:hover, .arrowgs li, #arrowgl li:hover, #arrowgls li
 {
	background-color: #efefbd;
}
#arrowgl li.bb0, #arrowgls li.bb0 , #menug li.bb0, #god {
	border-bottom: 0px;
}
#menug li.bb0, #god {
	border-top: 0px;
}