/* .options-graph-analytics {
  position: sticky;
  top: 110px;
  width: -webkit-fill-available;
  width: -moz-available;
  height: 18px;
  margin: -25px -25px 25px -25px;
  padding: 10px 20px;
  z-index: 1;
  font-weight: bold;
  display: flex;
  min-width: fit-content;
  background-color: var(--secondary-color);
  border: 1px solid #e5e9ed;
} */

div#main {
  margin-bottom: 0;
}

div.box-flat.white_table_graph > div[id^="tgl_div_"] {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

div.box-flat.white_table_graph > div[id^="tgl_div_"] > div.white-box-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

div#menu_tab ul li,
div#menu_tab ul li span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

div#menu_tab ul.mn li.nomn.tab_operation img {
  margin-right: 3px;
}

div#menu_tab ul li:hover,
div#menu_tab ul li span:hover {
  box-shadow: none;
}

div.main-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: calc(100vh - 160px);
}

div.padding-div {
  margin: 0;
  padding: 10px;
}

div.margin-div {
  margin: 10px;
  padding: 0;
}

div.filters-div-main {
  padding: 0;
  margin: 0;
  min-width: 400px;
  border-right: 1px solid var(--border-dark-color);
}

div.filters-div-main.filters-div-main-collapsed {
  width: 35px;
  min-width: 20px;
}

div.filters-div-main.filters-div-main-collapsed
  *:not(.filters-div-header):not(.filters-div-header > img) {
  display: none;
}

div.filters-div-main > .filters-div-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 10px;
}

div.filters-div-main > .filters-div-header > img {
  width: 20px;
  cursor: pointer;
}

div.filters-div-submain {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

div.filter-div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 50%;
  height: 100%;
  padding: 10px;
  border-top: 1px solid var(--border-dark-color);
}

.filters-left-div {
  border-right: 1px solid var(--border-dark-color);
}

.filters-right-div {
}

.search-graph-analytics {
  background-image: url(../../images/details.svg);
  background-position: center right 10px;
  background-repeat: no-repeat;
  background-size: 17px;
  width: 100%;
  margin: 10px 0;
  padding-right: 30px;
}

div.graphs-div-main {
  width: 100%;
}

.handle-graph {
  cursor: grab;
}

#droppable-graphs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.interval-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 10px;
}

/* Draggable */
.draggable.ui-draggable-dragging {
  width: 100px;
}

.draggable {
  width: 100px;
  height: 20px;
  background: red;
}

.draggable2 {
  background: blue;
}

.draggable3 {
  background: green;
}

.droppable {
  width: 100%;
  /* height: 20px; */
  margin-bottom: 5px;
  display: flex;
}

#droppable-graphs .droppable-zone {
  background-color: #0077ff80;
  border: 2px dashed #0077ff;
  border-radius: 6px;
  width: 100%;
  height: 20px;
}

#droppable-graphs .drops-hover {
  background-color: #82b92e80;
  border: 2px dashed #82b92e;
}

#droppable-graphs .droppable.droppable-default-zone:not(.droppable-new) {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

#droppable-graphs .droppable.droppable-default-zone.droppable-new {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#droppable-graphs
  .droppable.droppable-default-zone.droppable-new
  > span.drop-here {
  display: none;
}

#droppable-graphs .droppable.droppable-default-zone > span.drop-here {
  font-size: 15pt;
  font-weight: bold;
  color: #0077ff;
}

#droppable-graphs
  .droppable.droppable-default-zone.droppable-new.ui-droppable-active
  > span.drop-here {
  display: initial;
}

#droppable-graphs .droppable.droppable-default-zone.ui-droppable-active {
  visibility: visible;
}

#droppable-graphs
  .droppable.droppable-default-zone.ui-droppable-active.drops-hover
  > span.drop-here {
  color: #82b92e;
}
