/*
 * TODO: This may be at hostdevices.css
 */

select.select_multiple {
  min-width: 500px;
  width: 50%;
  height: 250px;
}

.indented select.select_multiple {
  min-width: calc(500px - 1em);
  width: calc(50% - 1em);
}
