/*
 * ---------------------------------------------------------------------
 * - LOGIN STYLES 													-
 * ---------------------------------------------------------------------
 */
h1#log_title {
  font-size: 18px;
  margin-bottom: 0px;
  color: #fff;
  width: 300px;
}

div#log_msg {
  display: none;
}

div#error_buttons {
  margin-top: 20px;
}

div#error_buttons a {
  margin: 14px;
}

#login_body {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1200px;
  width: 100%;
  position: absolute;
  background: linear-gradient(74deg, #02020255 36%, transparent 36%),
    url("../../images/backgrounds/background_pandora_console_keys.jpg");
  background-repeat: repeat;
}

p.log_in {
  color: #fff;
  padding: 0px 10px;
  width: 300px;
}

h1#log_f {
  color: #c00;
  border-bottom: 1px solid #c00;
  padding-bottom: 3px;
}

div#error_login {
  margin-top: 5px;
  margin-left: 5px;
  width: 75%;
  float: right;
  text-align: left;
  top: 100px;
}

div#error_login_icon {
  margin-top: 10px;
  margin-right: 7px;
  text-align: center;
  width: 20%;
  float: right;
}

div#login_f {
  margin-top: 10px;
  margin-bottom: 25px;
}

#ver_num {
  margin: 0px auto;
  width: 100%;
  position: absolute;
  bottom: 10px;
  color: #878787;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 8.5pt;
}

/*
 * ---------------------------------------------------------------------
 * - LOGIN PAGE 													-
 * ---------------------------------------------------------------------
 */

/* --- Login page - header --- */
div#header_login {
  width: 100%;
  height: 65px;
}

div#list_icon_docs_support {
  float: left;
  margin-top: 25px;
  margin-left: 5%;
}

div#list_icon_docs_support ul {
  margin-top: 5px;
  line-height: 36px;
}

div#list_icon_docs_support ul li {
  display: inline-block;
  color: white;
  vertical-align: middle;
  margin-right: 5px;
  font-size: 10pt;
}

div#list_icon_docs_support ul li a {
  color: #979797;
  font-size: 10pt;
}

li#li_margin_left {
  margin-left: 30px;
}

/* --- Login page - form --- */
div.container_login {
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

div.login_page {
  width: 35%;
  min-height: 600px;
  float: left;
}

div.login_logo_icon {
  margin-bottom: 40px;
  text-align: center;
}

div.login_logo_icon img {
  margin: 0 auto;
  max-width: 70%;
}

div.login_double_auth_code,
div.login_nick,
div.login_pass {
  margin: 0 auto;
  width: 70%;
  height: 40px;
  margin-bottom: 25px;
  min-width: 260px;
  background-color: #fff;
  opacity: 0.77;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

div.login_nick input {
  background-image: url("../../images/usuario_login.png");
}

div.login_pass input {
  background-image: url("../../images/candado_login.png");
}

div.login_nick input,
div.login_pass input {
  border: 0px;
  color: #343434;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  font-size: 10pt;
  padding: 0px 0px 0px 35px;
  background-repeat: no-repeat;
  background-size: 27px;
  background-position: left center;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

div.login_nick input:focus,
div.login_pass input:focus {
  outline: none;
}

div.login_nick input:-webkit-autofill,
div.login_nick input:-webkit-autofill:hover,
div.login_nick input:-webkit-autofill:focus,
div.login_nick input:-webkit-autofill:active,
div.login_pass input:-webkit-autofill,
div.login_pass input:-webkit-autofill:hover,
div.login_pass input:-webkit-autofill:focus,
div.login_pass input:-webkit-autofill:active {
  transition: background-color 10000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 0px transparent inset;
  -webkit-text-fill-color: #343434;
  border: 0px;
  width: 89%;
}

div.login_nick input::-webkit-input-placeholder,
div.login_pass input::-webkit-input-placeholder {
  color: #343434;
}

div.login_button,
div.login_button_saml {
  margin: 0 auto;
  width: 40%;
  height: 40px;
  min-width: 260px;
  margin-bottom: 20px;
}

div.login_button input {
  width: 100%;
  background-color: #82b92e;
  text-align: center;
  height: 40px;
  padding: 0px;
  font-size: 11pt;
  color: #fff;
  border: 1px solid #82b92e;
  border-radius: 3px;
}

div.login_button_saml input {
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
  background-image: url("../../images/saml_login.png");
  background-repeat: no-repeat;
  background-position: right 5% center;
}

div.login_button input:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
}

div.login_button_saml input:hover {
  background-image: url("../../images/saml_login_hover.png");
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

#remove_button input {
  background-image: url("../../images/user_login.png");
  background-repeat: no-repeat;
  background-position: right 5% center;
}

#remove_button input:hover {
  background-image: url("../../images/user_login_hover.png");
}

.login_back input {
  background-image: url("../../images/back_login.png");
  background-position: left 5% center;
  background-repeat: no-repeat;
}

.login_back input:hover {
  background-image: url("../../images/back_login_hover.png");
}

div.login_data {
  width: 65%;
  min-height: 600px;
  float: left;
}

div.text_banner_login {
  width: 100%;
  margin-bottom: 60px;
  color: white;
  text-align: center;
}

div.text_banner_login span {
  width: 100%;
}

span.span1 {
  font-size: 3vw;
  font-family: "lato-thin";
  color: white;
}

span.span2 {
  font-size: 3vw;
  font-family: "lato-bolder";
  color: white;
}

div.img_banner_login {
  width: 100%;
  text-align: center;
}

div.img_banner_login img {
  max-width: 70%;
  min-width: 70%;
  max-height: 50%;
  min-height: 50%;
}

.reset_password {
  width: 70%;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  text-align: center;
}

.reset_password a {
  color: #ddd;
  font-family: "Open Sans", sans-serif;
  font-size: 8.5pt;
}

@media all and (max-width: 1200px) {
  span.span1 {
    font-size: 30pt;
  }
  span.span2 {
    font-size: 30pt;
  }
}

/* --- Login page - modal windows --- */
div.content_alert {
  width: 98%;
  margin-top: 20px;
}

div.icon_message_alert {
  float: left;
  width: 25%;
  text-align: center;
}

div.icon_message_alert img {
  width: 85px;
}

div.content_message_alert {
  width: 75%;
  float: right;
}

div.text_message_alert {
  width: 100%;
  margin-top: 10px;
}

div.text_message_alert h1 {
  margin: 0px;
}

div.text_message_alert p {
  margin: 0px;
  font-size: 10.3pt;
  line-height: 14pt;
}

div.button_message_alert {
  width: 100%;
}

div.button_message_alert input {
  float: right;
  width: 87px;
  height: 33px;
  color: #82b92e;
  border: 1px solid #82b92e;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 10pt;
}

div.form_message_alert {
  width: 90%;
  clear: both;
  padding-top: 20px;
  padding-left: 40px;
}

div.form_message_alert ul li {
  display: inline-block;
  padding: 10px;
}

div.form_message_alert ul li input {
  border: none;
  background-color: #dadada;
  border-radius: 0px;
  height: 17px;
  width: 145px;
  padding-left: 5px;
}

div.form_message_alert ul li label {
  display: inline-block;
  width: 145px;
  font-size: 10pt;
  padding-right: 20px;
}

div.form_message_alert h4 {
  margin: 0px;
  margin-bottom: 10px;
}

div.button_message_alert_form input {
  float: right;
  width: 87px;
  height: 33px;
  color: #82b92e;
  border: 1px solid #82b92e;
  font-weight: bold;
  font-size: 10pt;
  margin-right: 25px;
}
