.node {
  stroke: #fff;
  stroke-width: 1px;
}

.node_over {
  stroke: #999;
}

.node_selected {
  stroke: #343434;
  stroke-width: 5;
}

.node_image {
  filter: invert(100%) brightness(125%);
}

.node_children {
  stroke: #00f;
}

.link {
  stroke-opacity: 0.6;
}

.link_over {
  stroke: #000;
  stroke-opacity: 0.6;
}

.holding_area {
  stroke: #0f0;
  stroke-dasharray: 12, 3;
}

.holding_area_link {
  stroke-dasharray: 12, 3;
}

img.circle-relations {
  width: 12px;
  border-radius: 50%;
}
