.green_title {
  background-color: #82b92e;
  font-weight: 600;
  width: 100%;
  text-align: center;
  display: block;
  padding: 1em;
  font-size: 1.3em;
  color: #fff;
}

.new.content {
  padding: 0 4em 2em;
}
