.add_agent {
  background-image: url("../../images/darrowright.png");
  background-repeat: no-repeat;
  border: none;
}

.remove_agent {
  background-image: url("../../images/darrowleft.png");
  background-repeat: no-repeat;
  border: none;
}

.edit_yaml {
  margin-left: 39px;
  margin-top: 10px;
  margin-bottom: 10px;
}

li > input[type="text"] {
  border: 1px solid lightgrey;
  border-radius: 0;
  font-family: "lato-bolder", "Open Sans", sans-serif;
  font-weight: lighter;
  padding: 0px 0px 2px 0px;
  box-sizing: border-box;
  margin-bottom: 4px;
}

.margin_button {
  margin-right: 5px;
}

.container-target {
  display: flex;
  flex-flow: row wrap;
}

.element-target {
  width: 20px;
  margin: 2px;
  height: 20px;
}

.status-normal {
  background-color: #add570;
}

.status-critical {
  background-color: #e3485e;
}

.status-notinit {
  background-color: #8bbbdd;
}

h4 {
  color: #343434;
  font-family: "lato-bolder", "Open Sans", sans-serif;
  line-height: 18pt;
}

.container-msg-target-modal {
  max-height: 400px;
  overflow: initial;
}

div.container-msg-target-modal p {
  font-size: 10pt;
  font-weight: bolder;
  text-align: center;
}

div.container-msg-target-modal pre {
  padding: 20px;
  white-space: pre-wrap;
  background-color: #e2e2e2;
  border: 3px dashed grey;
  border-radius: 10px;
}
