.edit_yaml {
  margin-left: 39px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin_button {
  margin-right: 5px;
}

.container-target {
  display: flex;
  flex-flow: row wrap;
}

.element-target {
  width: 20px;
  margin: 2px;
  height: 20px;
}

.element-target-big {
  width: 100px;
  margin: 2px;
  height: 100px;
}

.element-target-big:hover {
  box-shadow: 0 0 10px -5px #424242;
}

.element-target-big:before {
  content: attr(data-label);
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #373737;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  font-size: 1.8em;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-decoration: none;
}

.container-target a:hover {
  text-decoration: none;
}

.status-normal {
  background-color: #add570;
}

.status-critical {
  background-color: #e3485e;
}

.status-notinit {
  background-color: #8bbbdd;
}

.container-msg-target-modal {
  max-height: 400px;
  overflow: initial;
  padding-right: 20px;
  padding-left: 20px;
}

.container-msg-target-modal p {
  margin-bottom: 20px;
  font-size: 10pt;
}

span.failed {
  color: #fb4444;
  font-weight: bolder;
}

span.success {
  color: #82b92f;
  font-weight: bolder;
}

.container-msg-target-modal pre {
  padding: 1em;
  white-space: pre-wrap;
  background-color: #efefef;
  color: #565656;
  font-size: 1.2em;
  border: 2px solid #ddd;
  border-radius: 5px;
}

.container-msg-target-modal p img {
  margin-right: 0.3em;
  height: 1.3em;
}

ul.wizard li > textarea {
  height: 5em;
}

.label_select {
  font-weight: bolder;
}

.divided select {
  width: 100%;
}

.inline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.inline label:first-child {
  width: 250px;
  vertical-align: top;
  display: inline-block;
}

.inline label:nth-child(3) {
  margin-right: 1em;
  margin-left: 1em;
}

.inline select {
  margin-right: 1em;
}

.middle {
  align-self: center;
}

.edit_discovery_info {
  padding-top: 0;
}

ul.wizard {
  width: 100%;
}

.filter_column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.filter_column .edit_discovery_input {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: baseline;
  margin-left: 2em;
}

.filter_column .edit_discovery_input .label_select {
  display: inline;
  margin: 0;
}

.filter_column .edit_discovery_input select {
  flex-grow: 1;
  margin-left: 2em;
}

.wizard li {
  display: flex;
}

.textright.sorting_disabled,
.textright {
  text-align: right;
  padding-right: 2em;
}

/*
 * Discovery css global
 */

ul.bigbuttonlist {
  min-height: 200px;
}

li.discovery {
  display: inline-block;
  float: left;
  width: 250px;
  margin: 15px;
  padding-bottom: 50px;
}

li.discovery > a {
  text-decoration: none;
  color: #333;
}

li.discovery > a:hover {
  color: #000;
}

li.discovery img {
  height: 90px;
}

li.discovery > a label {
  cursor: pointer;
}

div.data_container > label {
  font-weight: lighter;
}

div.data_container {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

div.data_container:hover {
  box-shadow: 2px 2px 10px #777777;
}

/*
 * TODO: This may be at hostdevices.css
 */
.texto {
  height: auto;
  text-align: center;
}

h1.wizard {
  padding: 0;
  margin: 0;
}

h1.wizard a {
  margin-left: -20px;
}

h1.wizard a:hover {
  color: #fff;
}

#text_wizard {
  font-weight: bolder;
  text-decoration: none;
  font-size: 24px;
}

div.arrow_box {
  display: inline-block;
  position: relative;
  color: #888;
  padding: 1.3em;
  margin-left: 20px;
  margin-bottom: 10px;
  padding-left: 3em;
}

.arrow_box.selected {
  background: #424242;
  color: #ccc;
}

.arrow_box:after {
  left: 0%;
  border-left-color: white;
  border-width: 20px;
  margin-top: -20px;
}

div.arrow_box:before {
  left: 100%;
  border-left-color: #ccc;
  border-width: 20px;
  margin-top: -20px;
}

.arrow_box.selected:before {
  border-left-color: #424242;
}

.arrow_box.selected:hover {
  color: #fff;
}

.arrow_box:hover {
  color: #000;
}

/*
 * Breadcrum
 */
#menu_tab_frame_view > #menu_tab_left {
  margin-left: 20px;
}

/*
 * Discovery forms structure
 */

form.discovery * {
  font-size: 10pt;
}

form.discovery .label_select b {
  font-weight: bolder;
}

.edit_discovery_info {
  display: flex;
  align-items: flex-start;
  padding-top: 25px;
}

.edit_discovery_input {
  align-items: center;
  margin-bottom: 25px;
}

/*
 * Discovery text inputs
 */

.discovery_label_hint {
  display: flex;
}

label {
  color: #343434;
  font-weight: bold;
}

.discovery_full_width_input {
  width: 100%;
}

li .select2 {
  max-width: 400px !important;
}

.discovery_list_input {
  width: 100%;
  border: 1px solid #cbcbcb;
  overflow-y: auto;
}

.discovery_list_input option {
  text-align: left;
}

.discovery_list_input option:checked {
  background: #1aab8e -webkit-linear-gradient(bottom, #7db742 0%, #7db742 100%);
  color: #fff;
}

.discovery_textarea_input {
  background-color: #fbfbfb;
  padding-left: 10px;
  width: 100%;
  height: 100px;
  max-height: 100px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
}

a.tip {
  margin-left: 8px;
}

.inline_switch > label {
  float: right;
}

.discovery_interval_select_width {
  width: 90%;
}

a.ext_link {
  margin-left: 1em;
  font-size: 8pt;
}

div.ui-tooltip.ui-corner-all.ui-widget-shadow.ui-widget.ui-widget-content.uitooltip {
  background: grey;
  opacity: 0.9;
  border-radius: 4px;
  box-shadow: 6px 5px 9px -9px black;
  padding: 6px;
}

.ui-tooltip-content {
  background: transparent;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.03pt;
  font-size: 8pt;
}

.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}

.arrow.top {
  top: -16px;
  bottom: auto;
}

.arrow.left {
  left: 50%;
}

.arrow:after {
  background: grey;
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow.top:after {
  bottom: -20px;
  top: auto;
}

form > .white_box {
  padding: 20px;
  margin: 20px;
}

.white_box {
  margin: 20px;
}

button[type="submit"] {
  margin-left: 20px;
}

li > input[type="text"] {
  max-width: 428px;
}

div.edit_discovery_input > div {
  margin-bottom: 8px !important;
}

div.discovery_text_input > input {
  width: 100% !important;
}

li > .select2,
li > .selection,
li > .select2-selection {
  min-width: 428px !important;
}

.edit_discovery_info {
  margin: 0px !important;
  padding: 0px !important;
}

.omnishell_results_wrapper {
  max-width: 100% !important;
}

.no-text-imp {
  padding: 0px !important;
  margin: 0px !important;
}

.candeleted {
  margin: 0px 10px !important;
}

.dataTables_length,
.dt-buttons {
  margin-left: 20px;
}

table {
  max-width: calc(100% - 40px) !important;
}

/* Filter */
li > .action-buttons {
  padding: 0px;
}

ul.wizard > li,
ul.datatable_filter > li {
  display: grid;
}

ul.wizard > li > label,
ul.datatable_filter > li > label {
  margin-bottom: 8px !important;
}

ul.datatable_filter > li:has(div.action-buttons) {
  margin-bottom: 0;
}

ul.datatable_filter > li > div.action-buttons > button {
  margin-bottom: 0px !important;
}

#backgroundMaskId {
  bottom: 0px !important;
  height: auto !important;
}

#image-1,
#image-2 {
  padding-left: 0px !important;
}

.flex-column {
  margin-bottom: 10px !important;
}

.item_status_tree_view {
  position: initial;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content {
  z-index: 10000 !important;
}

.action_buttons_right_content {
  z-index: 1 !important;
}
