.add_agent {
  background-image: url("../../images/darrowright.png");
  background-repeat: no-repeat;
  border: none;
}

.edit_yaml {
  margin-left: 39px;
  margin-top: 10px;
  margin-bottom: 10px;
}
