#op a {
	display: block;
	color: #000;
	text-decoration: none;
	}
#op li {
	position: relative;
	left: 0px;
	width: 100%;
	border-bottom: 1px solid #d4d4d4;
	border-top: 1px solid #eee;
	}
#op1 li, #op2 li, #op3 li, #op4 li, #op5 li, #op6 li, #op7 li, #op8 li, 
#op1s li, #op2s li, #op3s li, #op4s li, #op5s li, #op6s li, #op7s li, #op8s li {
	padding: 0px 0px 0px 28px;
	}
div#op1>ul, div#op2>ul, div#op3>ul, div#op4>ul, div#op5>ul, div#op6>ul, div#op7>ul,
div#op8>ul, div#op1s>ul, div#op2s>ul, div#op3s>ul, div#op4s>ul, div#op5s>ul, div#op6s>ul, 
div#op7s>ul, div#op8s>ul {
	width: 126px;
	}
#op1 li , #op1 li:hover, #op1s li {
	background: url(../../images/op1.gif) no-repeat 4px 3px;
	}
#op2 li, #op2 li:hover, #op2s li {
	background: url(../../images/op2.gif) no-repeat 3px 3px;
	}
#op3 li, #op3 li:hover, #op3s li {
	background: url(../../images/op3.gif) no-repeat 5px 3px;
	}
#op4 li, #op4 li:hover, #op4s li {
	background: url(../../images/op4.gif) no-repeat 5px 3px;
	}
#op5 li, #op5 li:hover, #op5s li {
	background: url(../../images/op5.gif) no-repeat 7px 3px;
	}
#op6 li, #op6 li:hover, #op6s li {
	background: url(../../images/op6.gif) no-repeat 4px 5px;
	}
#op7 li, #op7 li:hover, #op7s li  {
	background: url(../../images/op7.gif) no-repeat 1px 0px;
	}
#op8 li, #op8 li:hover, #op8s li  {
	background: url(../../images/op8.gif) no-repeat 4px 3px;
	}
div.arrow>ul, div.arrows>ul {
	width: 74%;
	}
.arrow li, .arrow li:hover, .arrows li {
	background: url(../../images/arrow.gif) no-repeat 2px 4px;
	margin-left: 26px;
	padding: 0px 0px 0px 14px;	
	}
div#menuop {
	background-color: #e6e9cd;
	border: 1px solid #4a6629;
	width: 155px;
	margin-bottom: 15px;
	}
#op a:hover ,
#op1 li:hover, #op1s li , #op2 li:hover, #op2s li , #op3 li:hover, #op3s li , 
#op4 li:hover, #op4s li , #op5 li:hover, #op5s li , #op6 li:hover, #op6s li , 
#op7 li:hover, #op7s li , #op8 li:hover, #op8s li, 
.arrow li:hover, .arrows li
{
	background-color: #d4ddc6;
}
