#menu-operation {
	border-top: 0px;
}

#menu-operation a {
	display: block;
	color: #000;
	text-decoration: none;
}

#menu-operation li {
	left: 0px;
	width: 100%;
	border-bottom: 1px solid #d4d4d4;
	border-top: 1px solid #eee;
}

.menu-operation {
	background-color: #e6e9cd;
}

.operation-menu li {
	padding: 0px 0px 0px 28px;
	left: 0px;
	width: 100%;
	border-bottom: 1px solid #d4d4d4;
	border-top: 1px solid #eee;
}

.operation-menu ul {
	width: 127px;
}
#op1 li {
	background: url(../../images/bricks.png) no-repeat 4px 3px;
}
#op2 li {
	background: url(../../images/server_database.png) no-repeat 4px 3px;
}
#op3 li {
	background: url(../../images/book_edit.png) no-repeat 4px 3px;
}
#op4 li {
	background: url(../../images/lightning_go.png) no-repeat 4px 3px;
}
/* users */
#op5 li {
	background: url(../../images/group.png) no-repeat 4px 4px;
}
#op6 li {
	background: url(../../images/computer_error.png) no-repeat 4px 4px;
}
/* trap console */
#op7 li {
	background: url(../../images/email.png) no-repeat 4px 4px;
}
#op8 li {
	background: url(../../images/reporting.png) no-repeat 4px 4px;
}
#op9 li {
	background: url(../../images/monitor.png) no-repeat 4px 3px;
}

#op-extensions li {
	background: url(../../images/extensions.png) no-repeat 4px 3px;
}

.operation-submenu>ul {
	width: 75%;
}

.operation-submenu li {
	background: url(../../images/arrow.png) no-repeat 2px 4px;
	margin-left: 26px;
	padding: 0px 0px 0px 14px;
}

.menu-selected, #menu-operation li:hover, .submenu-selected li, .operation-submenu li:hover {
	background-color: #d4ddc6 !important;
}

#menu-operation li.bb0, #arrowls li.bb0, #op8 li.bb0 {
	border-bottom: 0px;
}
