div.show_result_interpreter {
  background-color: #fff;
  color: #000;
  border: 1px solid #e2e2e2;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 0px 15px -4px #dadada;
  z-index: 1;
}
