.progress_main {
  height: 2.5em;
  border: 2px solid #82b92e;
  position: relative;
  width: 100%;
  display: inline-block;
  display: flex;
  border-radius: 4px;
  line-height: 9pt;
  font-size: 9pt;
}

.progress_main_noborder {
  height: 2.5em;
  position: relative;
  width: 100%;
  display: inline-block;
  display: flex;
}

.progress_main:before {
  content: attr(data-label);
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin-top: 0.2em;
}

.progress {
  width: 0%;
  background: #82b92e;
  height: 100%;
  float: left;
}
