input[type="submit"].submit-cancel,
button.submit-cancel {
  color: #fb4444 !important;
  border: 1px solid #fb4444 !important;
  background: #fff !important;
  padding: 5px;
  font-size: 1.3em;
  margin: 0.5em 1em 0.5em 0 !important;
  cursor: pointer !important;
  text-align: center !important;
  height: 30px !important;
  width: 90px !important;
}

input[type="submit"].submit-cancel:hover,
button.submit-cancel:hover {
  color: #fff !important;
  background: #fb4444 !important;
}

input[type="submit"].submit-next,
button.submit-next,
input[type="button"].submit-next {
  color: #82b92e !important;
  border: 1px solid #82b92e !important;
  background: #fff !important;
  padding: 5px;
  font-size: 1.3em;
  margin: 0.5em 1em 0.5em 0 !important;
  cursor: pointer !important;
  text-align: center !important;
  height: 30px !important;
}

input[type="submit"].submit-next:hover,
button.submit-next:hover,
input[type="button"].submit-next:hover {
  color: #fff !important;
  background: #82b92e !important;
}

div.submit_buttons_container {
  position: absolute;
  margin: 10px auto 0px;
  bottom: 0px;
  width: 90%;
  position: relative;
  clear: both;
  height: 4em;
}

.license_text {
  width: 95%;
  overflow-y: auto;
  text-align: justify;
  margin: 1em auto;
}
