div.submit_buttons_container {
  position: relative;
  margin: 10px auto 0px;
  bottom: 0px;
  width: 95%;
  clear: both;
  height: 4em;
}

.license_text {
  width: 95%;
  overflow-y: auto;
  text-align: justify;
  margin: 1em auto;
}
