span.subtitle {
  font-size: 1.3em;
  font-weight: normal;
  font-family: "lato-bolder";
}

span.subtitle-2 {
  font-size: 1em;
  font-weight: normal;
  font-family: "lato-bolder";
}

.no-borders {
  border: 0 !important;
}
