span.subtitle {
  font-size: 1.3em;
  font-weight: normal;
}

span.subtitle-2 {
  font-size: 1em;
  font-weight: normal;
}

.no-borders {
  border: 0 !important;
}

input[type="text"]:not(.w100p-important),
input[type="number"]:not(.w100p-important) {
  width: 220px;
}

.fit > tbody > tr > td img {
  width: 15px;
}

.clean-toggles .white_table_graph_header {
  border: none;
}

.dbhist tr td:first-child {
  width: 45%;
  min-width: 450px;
}
