/*
 * ---------------------------------------------------------------------
 * - TABLES
 * ---------------------------------------------------------------------
 */
/* This is to use divs like tables */
.table_div {
  display: table;
}
.table_thead,
.table_tbody {
  display: table-row;
}
.table_th {
  font-weight: bold;
}
.table_th,
.table_td {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}
/* Tables with 3 columns */
.table_three_columns .table_th,
.table_three_columns .table_td {
  width: 33%;
}

.white-box-content > form > .databox.filters {
  border: none;
}

.databox.filters {
  background: #fff;
  padding: 1em 0;
}

.databox.filters,
.databox.data {
  margin-bottom: 20px;
}

.databox.filters > tbody > tr > td {
  padding: 10px;
  padding-left: 20px;
}

.databox.filters > tbody > tr > td > img,
.databox.filters > tbody > tr > td > div > a > img,
.databox.filters > tbody > tr > td > span > img,
.databox.filters > tbody > tr > td > span > a > img,
.databox.filters > tbody > tr > td > a > img {
  vertical-align: middle;
  margin-left: 5px;
}
.databox.filters > tbody > tr > td > a > img {
  vertical-align: middle;
}

.databox.data > tbody > tr > td > img,
.databox.data > thead > tr > th > img,
.databox.data > tbody > tr > td > div > a > img,
.databox.data > tbody > tr > td > span > img,
.databox.data > tbody > tr > td > span > a > img,
.databox.data > tbody > tr > td > a > img,
.databox.data > tbody > tr > td > form > a > img {
  vertical-align: middle;
}

.databox.data > tbody > tr:hover {
  background-color: #eee;
}

.databox.data > tbody > tr > td > input[type="checkbox"] {
  margin: 0px;
}

.databox_color > tbody > tr > td {
  padding-left: 10px;
}

.databox.agente > tbody > tr > td > div > canvas {
  width: 100%;
  text-align: left;
}
.databox.agente > tbody > tr > td > div.graph {
  width: 100%;
  text-align: left;
}

.info_table,
.filter_table {
  background-color: #fff;
  /* margin-bottom: 10px; */
  border-spacing: 0;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 5px;
}

.info_table > tbody > tr:nth-child(even) {
  /*background-color: #f5f5f5;*/
  background-color: #f6f7fb;
}

.info_table tr > td:first-child,
.info_table tr > th:first-child,
.filter_table tr > td:first-child,
.filter_table tr > th:first-child {
  /*padding-left: 5px;*/
  padding-left: 10px;
}
.info_table tr > td:last-child,
.info_table tr > th:last-child,
.filter_table tr > td:last-child,
.filter_table tr > th:last-child {
  /*padding-right: 5px;*/
  padding-right: 10px;
}

.info_table tr:first-child > th {
  background-color: #fff;
  color: #000;
  text-align: left;
  vertical-align: middle;
}

.info_table th {
  font-size: 7.5pt;
  letter-spacing: 0.3pt;
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

.info_table tr th {
  border-bottom: 1px solid #e2e2e2;
}

.info_table > thead > tr {
  height: 3em;
  vertical-align: top;
}

/* Radius top */
.info_table > thead > tr:first-child > th:first-child {
  border-top-left-radius: 4px;
}
.info_table > thead > tr:first-child > th:last-child {
  border-top-right-radius: 4px;
}

/* Radius bottom */
.info_table > tbody > tr:last-child > td:first-child {
  border-top-left-radius: 4px;
}
.info_table > tbody > tr:last-child > td:last-child {
  border-top-right-radius: 4px;
}

.info_table > tbody > tr > th,
.info_table > thead > tr > th,
.info_table > thead > tr > th a,
.info_table > thead > tr > th > span {
  padding: 0.1em;
  font-weight: normal;
  color: #000;
  margin-left: 0.5em;
}

.info_table > tbody > tr {
  /*border-bottom: 1px solid #e2e2e2;*/
}

.info_table > tbody > tr > td {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: none;
  padding: 7px 3px;
  /*
  padding-left: 0px;
  padding-right: 9px;
  padding-top: 7px;
  padding-bottom: 7px;
  */
}

.info_table .header_row .sort_arrow {
  vertical-align: top;
  visibility: hidden;
}

.info_table .header_row:hover .sort_arrow {
  visibility: visible;
}

.info_table .inherited_text_data_for_humans,
.info_table .inherited_text_data_for_humans i {
  font-size: inherit;
}

.info_table.no-td-padding td {
  padding-left: 0;
  padding-right: 0;
}

.info_table > tbody > tr > td > img,
.info_table > thead > tr > th > img,
.info_table > tbody > tr > td > div > a > img,
.info_table > tbody > tr > td > span > img,
.info_table > tbody > tr > td > span > a > img,
.info_table > tbody > tr > td > a > img,
.info_table > tbody > tr > td > form > a > img {
  vertical-align: middle;
}

.table_action_buttons > a,
.table_action_buttons > img,
.table_action_buttons > button {
  visibility: hidden;
}
.info_table > tbody > tr:hover {
  /* This !important is necessary to overwrite the white background of tables with less than 5 rows. */
  /*background-color: #eee !important;*/
  background-color: #d9efee !important;
}

.info_table > tbody > tr:hover .table_action_buttons > a,
.info_table > tbody > tr:hover .table_action_buttons > img,
.info_table > tbody > tr:hover .table_action_buttons > button {
  visibility: visible;
}

.info_.profile_list > thead > tr > th > a.tip {
  padding: 0px;
}

.info_table .datos3,
.datos3,
.info_table .datos4,
.datos4 {
  background-color: #fff;
  color: #000;
  border-bottom: 2px solid #82b92e;
  border-left: none;
  border-right: none;
  height: 30px;
  font-size: 8.6pt;
  font-weight: normal;
}

.databox.datos2 {
  background: #f5f5f5;
}

.databox.datos {
  background: #fff;
}

.datos4 {
  /*Add because in php the function html_print_table write style in cell and this is style head.*/
  text-align: center;
}

.datos3 *,
.datos4 *,
.info_table .datos3 *,
.info_table .datos4 * {
  font-size: 11pt;
  padding: 1.5em 0 0.5em;
}

.datos5 * {
  color: #ffffff;
}

/*td.datos_id {
	color: #1a313a;
}*/

/* user list php */
tr.disabled_row_user * {
  color: grey;
}

/* Disable datatables border */
table.dataTable.info_table.no-footer {
  border-bottom: none;
}

/* Datatables pagination */
.dataTables_paginate.paging_simple_numbers {
  margin: 2em 0;
}

a.pandora_pagination {
  background-color: #f6f7fb;
  padding: 11px;
  color: #000;
  border: 1px solid #cacaca;
  border-left: none;
  min-width: 12px;
  text-decoration: none;
  font-size: 11pt;
  line-height: 35px;
  cursor: pointer;
}
a.pandora_pagination.next {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

a.pandora_pagination.previous {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.dataTables_paginate > span > span.ellipsis + a.pandora_pagination:last-child,
.dataTables_paginate {
  border-left: 1px solid #c0ccdc;
}

a.pandora_pagination.disabled {
  color: #cacaca;
}
a.pandora_pagination:hover {
  text-decoration: none;
  background-color: #e2e2e2;
}

a.pandora_pagination.current,
a.pandora_pagination.current:hover {
  color: #fff;
  background-color: #14524f;
}

/* CSV button datatables */
.dt-button.buttons-csv.buttons-html5 {
  background-image: url(../../images/csv_mc.png);
  background-position: center center;
  background-repeat: no-repeat;
  color: #000;
  border: none;
  cursor: pointer;
  display: inline;
  padding: 7pt;
  margin-left: 10px;
  background-color: transparent;
}
.dt-button.buttons-csv.buttons-html5 span {
  font-size: 0;
}

.dt-buttons {
  margin-top: 3pt;
}

.dt-button.buttons-csv.buttons-html5:active,
.dt-button.buttons-csv.buttons-html5:hover {
  border: none;
}

.dt-button.buttons-csv.buttons-html5[disabled] {
  color: #b4b4b4;
  background-color: #f3f3f3;
  border-color: #b6b6b6;
  cursor: default;
}

/* Default datatable filter style */
.datatable_filter.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.datatable_filter.content label {
  margin-right: 1em;
}
.datatable_filter.content li {
  flex: 1 1 auto;
  margin: 1em auto;
}
.sorting_desc {
  background: url(../../images/sort_down_green.png) no-repeat;
  background-position-x: left;
  background-position-y: center;
  cursor: pointer;
}
.sorting_asc {
  background: url(../../images/sort_up_green.png) no-repeat;
  background-position-x: left;
  background-position-y: center;
  cursor: pointer;
}

.info_table tr th.sorting_asc,
.info_table tr th.sorting_desc {
  padding-left: 15px;
}

/* This class is for the icons of actions and operations in the tables. */
.table_action_buttons a[href] img,
.table_action_buttons input[type="image"],
.action_button_img {
  border-radius: 4px;
  /*border: 1px solid #dcdcdc !important;*/
  padding: 1px !important;
  /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);*/
}

/* This class is for only one icon to be a button type. */
.action_button_img {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.table_action_buttons a,
.table_action_buttons input[type="image"] {
  margin-right: 5px;
  display: inline-block;
}

.table_action_buttons a:last-child,
.table_action_buttons input[type="image"]:last-child {
  margin-right: 0px;
}

.table_action_buttons a:hover {
  background-color: #fff;
  border-radius: 4px;
}

.table_action_buttons input[type="image"]:hover {
  background-color: #fff;
}

.table_action_buttons_image {
  width: 24px;
  height: 24px;
}

.section_table_title {
  flex: 0 1 auto;
  font-size: 11pt;
  color: #14524f;
  font-family: "Pandora-Bold";
  margin: 4px 0 7px;
}

.section_table_title_line {
  flex: 1 1 auto;
  height: 2px;
  background-color: #14524f;
  margin-left: 10px;
  box-shadow: inset 1px 1px 1px 1px #1d7873;
}

.cron_section {
  padding: 0 !important;
}

.cron_section td {
  font-size: 10pt !important;
  color: #8a96a6;
}

.ff_thresholds_line input {
  width: 100%;
}

.datatable_form {
  margin: 0 1em;
}
