.tactical_group_left_column {
  vertical-align: top;
  min-width: 30em;
  width: 30%;
  padding-top: 0px;
}
.tactical_group_right_column {
  width: 40%;
  vertical-align: top;
  min-width: 30em;
  padding-top: 0px;
}
rect {
  cursor: pointer;
}
.info-agent {
  width: 100%;
  max-height: 400px;
}
.info-agent table {
  width: 100%;
}
#modal-info-agent {
  display: none;
}
