a.tip {
	cursor: help;
	background: url(../../images/tip.png) no-repeat;
	padding: 5px 2px 5px 12px;
}
a.help {
	cursor: help;
	background: url(../../images/help2.png) no-repeat;
	padding: 2px 2px 2px 12px;
	left: 5px;
	text-transform: capitalize;
}
a.info {
	padding: 25px 0px 0px 0px;
}
a.tip, a.help , a.info {
	position: relative;
	text-decoration: none;
}
a.tip:hover {
	text-decoration: none;
	background-color: #efefef;
}
a.info:hover, a.help:hover {
	text-decoration: none;
}
a.tip span, a.info span, a.help span {
	display: none;
}
a.tip:hover span, a.info:hover span, a.help:hover span {
	display: block;
	text-decoration: none;
	position: absolute;
	z-index: 99;
	top: 20px;
	left: 6px;
	min-width: 150px;
	border: 1px solid #708090;
	background-color: #d4ddc6;
	color: #000;
	padding: 2px;
}

a.info:hover span {
	top: 45px;
	left: 20px;
	width: 120px;
	background-color: #ffffff;
	border: 1px solid #aaaaaa;
}
a.help:hover span {
	top: 15px;
	width: 80px;
}
