.details_table b {
  font-size: 12px;
}
.details_table {
  width: 99% !important;
}

.dataTables_length {
  margin: 10px 0px 20px 20px;
}

.custom-filter {
  width: 95%;
  margin: 21px auto;
}

.custom-filter label {
  font-size: 13px !important;
  margin-right: 10px;
}

.dataTables_paginate.paging_simple_numbers {
  margin: 10px 20px 20px 0px;
  margin-right: 20px !important;
}

.row-graphs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
}

.col-md-3 {
  width: 30%;
  margin: 10px;
}

.col-md-6 {
  width: 35%;
  margin: 10px;
}

.col-md-1 {
  width: 15%;
  margin: 10px;
}

.col-md-2 {
  width: 30%;
  margin: 10px;
}

.col-md-7 {
  width: 40%;
  margin: 10px;
}

.col-md-9 {
  width: 63%;
  margin: 10px;
}

.pdd_b_40px {
  padding-bottom: 40px !important;
}
#reach-metrics {
  margin-bottom: 45px;
}

#reach-metrics .row-graphs {
  max-width: 100%;
}

#score-bar {
  max-width: 85%;
  margin: 0 auto;
}
#bar {
  height: 100%;
  animation: load 2s;
}
.marks {
  color: #9f9f9f;
}
.title {
  font-size: 19px;
  font-weight: 600;
  color: #3f3f3f;
}
.score {
  font-weight: 700;
  font-size: 24px;
  color: #3f3f3f;
}
.message {
  color: #0000008c;
}
.status {
  font-size: 15px;
  margin-left: 20px;
}
.marks {
  display: flex;
  justify-content: space-between;
}
.labels-bar {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
}
.date {
  font-weight: 400;
  color: #0000008c;
  margin-left: 13px;
}
.dt-buttons {
  display: flex;
  margin: 10px;
  margin-left: 0px;
  position: relative;
}
.dt-buttons button {
  margin-left: 0px !important;
}
#content-bar {
  border: 1px solid #d7d7d7;
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

@media (max-width: 1500px) {
  .col-md-3 {
    width: 40%;
  }
  .col-md-1 {
    width: 20%;
  }
  .col-md-2 {
    width: 45%;
  }
  .col-md-6 {
    width: 88%;
  }
  .col-md-7 {
    width: 80%;
  }
}

@keyframes load {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
