/*
 * Discovery > Wizard css global style
 */

ul.wizard {
}

ul.wizard li {
  padding: 10px;
}

ul.wizard li > label:not(.p-switch) {
  width: 250px;
  display: inline-block;
}

.hidden {
  display: none;
}
